In [1]:
# 製作 orange() 及 gloria() 兩方法，分別爬取澄果旅遊和華泰旅遊網站內容，並轉出DataFrame表單
# 建立 mysql 連線，存取與讀出表單

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import json
import time
import re

In [3]:
#取地今日時間

from datetime import datetime
from dateutil.relativedelta import relativedelta
n_days = datetime.now() + relativedelta(months=6)
print (n_days.strftime('%Y/%m/%d')) # %H:%M:%S'))

2019/03/09

In [4]:
#建立資料庫引擎

from sqlalchemy import create_engine
import pymysql
engine = create_engine('mysql+pymysql://root:1qaz!QAZ@127.0.0.1:3306/tour?charset=utf8')

In [5]:
#設定資料庫連線

connect = pymysql.Connect(
#    host='localhost',
    host='127.0.0.1',
    port=3306,
    user='root',
    passwd='1qaz!QAZ',
    db='tour',
    charset='utf8'
)
    
cursor = connect.cursor()

In [6]:
#定義 getsqldata() 方法 
def getsqldata():
    data = pd.read_sql(sql=sql,con=connect)
    return data

In [7]:
#定義 orangeres 方法  取得orange旅行社網頁資料

def orangeres (p = 1):

    url = 'http://www.orangetour.com.tw/EW/Services/SearchListData.asp'
    page = p
    #headers = {'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/68.0.3440.106 Safari/537.36'}
    payload={
        'displayType': 'G',
    #    'subCd': 
        'orderCd': '1',
        'pageALL': str(page),
        'pageGO': '1',
        'pagePGO': '1',
        'waitData': 'false',
        'waitPage': 'false',
    #    'mGrupCd': 
    #    'SrcCls': 
    #    'tabList':
    #    'regmCd': 
    #    'regsCd': 
        'beginDt': str(datetime.now().strftime('%Y/%m/%d')),
        'endDt': '9999/12/31',#str(n_days.strftime('%Y/%m/%d')),
    #    'portCd': 
    #    'tdays': 
    #    'bjt': 
    #    'carr': 
        'allowJoin': '1',
        'allowWait': '1'
    #    'ikeyword': 
    }
    rs = requests.session()
    res = rs.post(url,data = payload)

    res.encoding = 'utf-8'
    return res

In [8]:
# 定義 orangefp 方法  取得當日網站資料總數

def orangefp():
    url2 = 'http://www.orangetour.com.tw/EW/GO/GroupList.asp'
    
    res2 = requests.get(url2,'html.parser')
    res2.encoding = 'utf-8'
    soup = BeautifulSoup(res2.text,'html.parser')
    a = soup.find_all('ul',{'class':'pagination'})[0].find_all('li',{'class':'next'})[-1].find('a')['onclick']
    fp = re.search(r'\d+',a)
    return int(fp.group(0))

In [9]:
#getfp()

In [10]:
#定義 orange() 方法  用迴圈抓取所有網頁資料 並轉出DataFrame 表單

def orange():
    data2 = pd.DataFrame()
    p = 1
    total = 0
    fp = orangefp()
    print(fp)
    while True:
        res = orangeres(p)
        d = json.loads(res.text)
        d = d['All']

        for dd in d:
            df = pd.DataFrame([dd.values()])
            data2 = pd.concat([data2,df])
            
        total += len(d)
        print((p,total),end=",")
        

        if p == fp:        
            break
            
        p += 1
        time.sleep(2)
    data2.columns = (d[0].keys())
    data2['SignUpLink'] = data2['SignUpLink'].apply(lambda x:x['Name'])
    data2.reset_index(inplace = True,drop = True)
    return data2

In [47]:
data2 = orange()
data2.head()

24
(1, 20),(2, 40),(3, 60),(4, 80),(5, 100),(6, 120),(7, 140),(8, 160),(9, 180),(10, 200),(11, 220),(12, 240),(13, 260),(14, 280),(15, 300),(16, 320),(17, 340),(18, 360),(19, 380),(20, 400),(21, 420),(22, 440),(23, 460),(24, 471),

,GrupCd,LeavDt,WeekDay,GrupSnm,ItnRk3S,EstmYqt,DoneYqt,SaleYqt,DordQt,EstmTotqt,...,SaleAm,AgtAm,GrupLn,SubCd,SubCdAnm,SortSq,Url,ShareUrl,SrcCls,ImgUrl
0,EW1080909QRA,2018/09/09,日,品味法拉利 南北義 龐貝 藍洞 OUTLET 10天,,26,0,25,0,26,...,75900,75900,10,GO,團,7,/EW/GO/GroupDetail.asp?prodCd=EW1080909QRA,http://www.orangetour.com.tw/EW/GO/GroupDetail...,0,/eWeb_asiantour/IMGDB/000000/00005642.JPG
1,ES1080909CAA,2018/09/09,日,浪漫愛琴海雙島：聖托里尼、米克諾斯、天空之城、諸神的故鄉、希臘10天之旅,,16,16,0,15,16,...,77900,77900,10,GO,團,7,/EW/GO/GroupDetail.asp?prodCd=ES1080909CAA,http://www.orangetour.com.tw/EW/GO/GroupDetail...,0,/eweb_asiantour/images/default_demo.jpg
2,EW1080901BRA,2018/09/10,一,Hello! 長榮荷德比法 3遊船 OUTLET 10天,,26,0,0,0,26,...,69900,69900,10,GO,團,7,/EW/GO/GroupDetail.asp?prodCd=EW1080901BRA,http://www.orangetour.com.tw/EW/GO/GroupDetail...,0,/eweb_asiantour/images/default_demo.jpg
3,ICN180912KEB,2018/09/12,三,親子水陸雙樂園5日,,16,0,16,0,16,...,13000,13000,5,GO,團,7,/EW/GO/GroupDetail.asp?prodCd=ICN180912KEB,http://www.orangetour.com.tw/EW/GO/GroupDetail...,0,/eWeb_asiantour/IMGDB/000126/00003008.JPG
4,ICN180912KEA,2018/09/12,三,哈韓94狂～超人氣三大主題5日,,16,0,16,0,16,...,15000,15000,5,GO,團,7,/EW/GO/GroupDetail.asp?prodCd=ICN180912KEA,http://www.orangetour.com.tw/EW/GO/GroupDetail...,0,/eweb_asiantour/images/default_demo.jpg

In [12]:
#檢查欄位屬性
data2.dtypes

GrupCd             object
LeavDt             object
WeekDay            object
GrupSnm            object
ItnRk3S            object
EstmYqt             int64
DoneYqt             int64
SaleYqt             int64
DordQt              int64
EstmTotqt           int64
PortNm             object
FullSts            object
RuleDr             object
SaleCd              int64
HotTp              object
GordLk               bool
OrderDl            object
HtlOkFg              bool
AdvFg                bool
GuaranteeFg          bool
PromoteFg            bool
ApplyQt             int64
DepositQt           int64
NoDepositQt         int64
RqstQt              int64
SignUpLink         object
IsShowGuarantee      bool
IsShowPromote        bool
IsShowHotTp          bool
HotTpNm            object
RecCnt              int64
GoCnt               int64
PgoCnt              int64
RowId               int64
SacctNo            object
MgrupCd            object
SaleAm              int64
AgtAm               int64
GrupLn              int64
SubCd              object
SubCdAnm           object
SortSq              int64
Url                object
ShareUrl           object
SrcCls              int64
ImgUrl             object
dtype: object

In [13]:
#檢查欄位內容
data2.loc[0]

GrupCd                                                  EW1080909QRA
LeavDt                                                    2018/09/09
WeekDay                                                            日
GrupSnm                                   品味法拉利 南北義 龐貝 藍洞 OUTLET 10天
ItnRk3S
EstmYqt                                                           26
DoneYqt                                                            0
SaleYqt                                                           25
DordQt                                                             0
EstmTotqt                                                         26
PortNm                                                      台北-桃園機場
FullSts
RuleDr
SaleCd                                                             7
HotTp
GordLk                                                          True
OrderDl                                                   2018/09/09
HtlOkFg                                                         True
AdvFg                                                          False
GuaranteeFg                                                    False
PromoteFg                                                      False
ApplyQt                                                          999
DepositQt                                                        999
NoDepositQt                                                        0
RqstQt                                                           999
SignUpLink                                                        報名
IsShowGuarantee                                                False
IsShowPromote                                                  False
IsShowHotTp                                                    False
HotTpNm
RecCnt                                                           471
GoCnt                                                            471
PgoCnt                                                             0
RowId                                                              1
SacctNo
MgrupCd                                                         EW25
SaleAm                                                         75900
AgtAm                                                          75900
GrupLn                                                            10
SubCd                                                             GO
SubCdAnm                                                           團
SortSq                                                             7
Url                       /EW/GO/GroupDetail.asp?prodCd=EW1080909QRA
ShareUrl           http://www.orangetour.com.tw/EW/GO/GroupDetail...
SrcCls                                                             0
ImgUrl                     /eWeb_asiantour/IMGDB/000000/00005642.JPG
Name: 0, dtype: object

In [14]:
#將資料依需求篩選欄位，並將欄位名稱改為旅遊咖網頁使用名稱，最後將結果存入mysql

date2 = data2[['GrupCd','LeavDt','GrupLn','WeekDay','PortNm']]
date2.rename(columns={'GrupCd':'group_code','LeavDt':'date','GrupLn':'days'},inplace = True)

date2.head()

e:\anacondax64\envs\py36\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

     group_code        date  days WeekDay    PortNm
0  EW1080909QRA  2018/09/09    10       日  台北-桃園機場
1  ES1080909CAA  2018/09/09    10       日  台北-桃園機場
2  EW1080901BRA  2018/09/10    10       一  台北-桃園機場
3  ICN180912KEB  2018/09/12     5       三  台北-桃園機場
4  ICN180912KEA  2018/09/12     5       三  台北-桃園機場

In [15]:
sql = (
"""    CREATE TABLE `tour`.`date2` (

  `group_code` VARCHAR(15) NOT NULL,
  `date` VARCHAR(10)  NULL,
  `days` INT NULL,
  `WeekDay` VARCHAR(2),
  `PortNm` VARCHAR(15) NULL,
  PRIMARY KEY (`group_code`),
  UNIQUE INDEX `group_code_UNIQUE` (`group_code` ASC) VISIBLE);"""
)

cursor.execute(sql)

0

In [16]:
date2.to_sql(name='date2',con=engine,  if_exists = 'append', index=False)

e:\anacondax64\envs\py36\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xA5x\\xA5_\\xBC\\xD0...' for column 'VARIABLE_VALUE' at row 518")
  result = self._query(query)

In [17]:
sale2 = data2[['GrupCd','SaleYqt','EstmTotqt','SaleAm']]
sale2.rename(columns={'GrupCd':'group_code','SaleYqt':'sell','EstmTotqt':'qty','SaleAm':'minprice'},inplace = True)

sale2.head()

e:\anacondax64\envs\py36\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

     group_code  sell  qty  minprice
0  EW1080909QRA    25   26     75900
1  ES1080909CAA     0   16     77900
2  EW1080901BRA     0   26     69900
3  ICN180912KEB    16   16     13000
4  ICN180912KEA    16   16     15000

In [18]:
sql = (
"""    CREATE TABLE `tour`.`sale2` (

  `group_code` VARCHAR(15) NOT NULL,
  `sell` INT NULL,
  `qty` INT NULL,
  `minprice` INT NULL,
  PRIMARY KEY (`group_code`),
  UNIQUE INDEX `group_code_UNIQUE` (`group_code` ASC) VISIBLE);"""
)

cursor.execute(sql)

0

In [19]:
sale2.to_sql(name='sale2',con=engine,  if_exists = 'append', index=False)

In [20]:
base2 = data2[['GrupSnm','GrupCd','SubCdAnm','SignUpLink','ImgUrl']]
base2['tour'] = 'orange'
base2.rename(columns={'GrupSnm':'title','GrupCd':'group_code','tour':'agency_code','ImgUrl':'pic'},inplace = True)

base2.head()

e:\anacondax64\envs\py36\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

e:\anacondax64\envs\py36\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

,title,group_code,SubCdAnm,SignUpLink,pic,agency_code
0,品味法拉利 南北義 龐貝 藍洞 OUTLET 10天,EW1080909QRA,團,報名,/eWeb_asiantour/IMGDB/000000/00005642.JPG,orange
1,浪漫愛琴海雙島：聖托里尼、米克諾斯、天空之城、諸神的故鄉、希臘10天之旅,ES1080909CAA,團,請電洽,/eweb_asiantour/images/default_demo.jpg,orange
2,Hello! 長榮荷德比法 3遊船 OUTLET 10天,EW1080901BRA,團,候補,/eweb_asiantour/images/default_demo.jpg,orange
3,親子水陸雙樂園5日,ICN180912KEB,團,報名,/eWeb_asiantour/IMGDB/000126/00003008.JPG,orange
4,哈韓94狂～超人氣三大主題5日,ICN180912KEA,團,報名,/eweb_asiantour/images/default_demo.jpg,orange

In [21]:
sql = (
"""    CREATE  TABLE `tour`.`base2` (
`ID`          int         NOT NULL AUTO_INCREMENT,
  `title` VARCHAR(60)  NULL,
  `group_code` VARCHAR(15) NULL,
  `SubCdAnm` VARCHAR(2) NULL,
  `SignUpLink` VARCHAR(5) NULL,
  `pic` VARCHAR(100) NULL,
  `agency_code` VARCHAR(12) NULL,
  PRIMARY KEY (`ID`),
  UNIQUE INDEX `ID_UNIQUE` (`ID` ASC) VISIBLE,
  UNIQUE INDEX `group_code_UNIQUE` (`group_code` ASC) VISIBLE);"""
)

cursor.execute(sql)

0

In [22]:
base2.to_sql(name='base2',con=engine,  if_exists = 'append', index=False)

In [23]:
#############################分隔線  ##############################

In [24]:
def gloriares (p = 1):

    url = 'https://www.gloriatour.com.tw/EW/Services/SearchListData.asp'
    page = p
    #headers = {'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/68.0.3440.106 Safari/537.36'}
    payload={
        'displayType': 'G',
    #    'subCd': 
        'orderCd': '1',
        'pageALL': str(page),
        'pageGO': '1',
        'pagePGO': '1',
        'waitData': 'false',
        'waitPage': 'false',
    #    'mGrupCd': 
    #    'SrcCls': 
    #    'tabList': 
    #    'regmCd': 
    #    'regsCd': 
        'beginDt': str(datetime.now().strftime('%Y/%m/%d')),
        'endDt': '9999/12/31',#str(n_days.strftime('%Y/%m/%d')),
    #    'portCd': 
    #    'tdays': 
    #    'bjt': 
    #    'carr': 
        'allowJoin': '1',
        'allowWait': '1'
    #    'ikeyword': 
    }
    rs = requests.session()
    res = rs.post(url,data = payload)

    res.encoding = 'big5'
    return res

In [25]:
def gloriafp():
    url2 = 'https://www.gloriatour.com.tw/EW/GO/GroupList.asp'
    
    res2 = requests.get(url2,'html.parser')
    res2.encoding = 'utf-8'
    soup = BeautifulSoup(res2.text,'html.parser')
    a = soup.find_all('ul',{'class':'pagination'})[0].find_all('li',{'class':'next'})[-1].find('a')['onclick']
    fp = re.search(r'\d+',a)
    return int(fp.group(0))

In [26]:
gloriafp()

143

In [27]:
def gloria():
    data2 = pd.DataFrame()
    p = 1
    n=0
    total = 0
    fp = gloriafp()
    while True:
        res = gloriares(p)
        d = json.loads(res.text)
        d = d['All']
        
        for dd in d:
            df = pd.DataFrame([dd.values()])
            data2 = pd.concat([data2,df])
            
        total += len(d)
        print((p,total),end=",")
        
        if p == fp:
            break
            
        p += 1
        n += 1
        time.sleep(2)
    data2.columns = (d[0].keys())
    data2['SignUpLink'] = data2['SignUpLink'].apply(lambda x:x['Name'])
    data2.reset_index(inplace = True,drop = True)
    return data2

In [30]:
data1 = gloria()
data1.head()

(1, 20),(2, 40),(3, 60),(4, 80),(5, 100),(6, 120),(7, 140),(8, 160),(9, 180),(10, 200),(11, 220),(12, 240),(13, 260),(14, 280),(15, 300),(16, 320),(17, 340),(18, 360),(19, 380),(20, 400),(21, 420),(22, 440),(23, 460),(24, 480),(25, 500),(26, 520),(27, 540),(28, 560),(29, 580),(30, 600),(31, 620),(32, 640),(33, 660),(34, 680),(35, 700),(36, 720),(37, 740),(38, 760),(39, 780),(40, 800),(41, 820),(42, 840),(43, 860),(44, 880),(45, 900),(46, 920),(47, 940),(48, 960),(49, 980),(50, 1000),(51, 1020),(52, 1040),(53, 1060),(54, 1080),(55, 1100),(56, 1120),(57, 1140),(58, 1160),(59, 1180),(60, 1200),(61, 1220),(62, 1240),(63, 1260),(64, 1280),(65, 1300),(66, 1320),(67, 1340),(68, 1360),(69, 1380),(70, 1400),(71, 1420),(72, 1440),(73, 1460),(74, 1480),(75, 1500),(76, 1520),(77, 1540),(78, 1560),(79, 1580),(80, 1600),(81, 1620),(82, 1640),(83, 1660),(84, 1680),(85, 1700),(86, 1720),(87, 1740),(88, 1760),(89, 1780),(90, 1800),(91, 1820),(92, 1840),(93, 1860),(94, 1880),(95, 1900),(96, 1920),(97, 1940),(98, 1960),(99, 1980),(100, 2000),(101, 2020),(102, 2040),(103, 2060),(104, 2080),(105, 2100),(106, 2120),(107, 2140),(108, 2160),(109, 2180),(110, 2200),(111, 2220),(112, 2240),(113, 2260),(114, 2280),(115, 2300),(116, 2320),(117, 2340),(118, 2360),(119, 2380),(120, 2400),(121, 2420),(122, 2440),(123, 2460),(124, 2480),(125, 2500),(126, 2520),(127, 2540),(128, 2560),(129, 2580),(130, 2600),(131, 2620),(132, 2640),(133, 2660),(134, 2680),(135, 2700),(136, 2720),(137, 2740),(138, 2760),(139, 2780),(140, 2800),(141, 2820),(142, 2840),(143, 2853),

,GrupCd,LeavDt,WeekDay,GrupSnm,ItnRk3S,EstmYqt,DoneYqt,SaleYqt,DordQt,EstmTotqt,...,SaleAm,AgtAm,GrupLn,SubCd,SubCdAnm,SortSq,Url,ShareUrl,SrcCls,ImgUrl
0,SELB4BX8909A,2018/09/09,日,【精選釜慶】汗蒸幕體驗、佛國寺、泰迪熊博物館、天空步道、海洋博物館、太宗台、甘川洞文化村４日,,17,0,19,0,20,...,10800,10800,4,GO,團,7,/EW/GO/GroupDetail.asp?prodCd=SELB4BX8909A,https://www.gloriatour.com.tw/EW/GO/GroupDetai...,0,/eWeb_gloriatour/IMGDB/000012/000013/000589/00...
1,BKKHFCI8909A,2018/09/09,日,【泰享樂】∼不走蛇園∼ 拉瑪雅納水上樂園、四面佛、鋼鐵人博物館超值五日遊(含稅),,18,0,17,0,18,...,15700,15700,5,GO,團,7,/EW/GO/GroupDetail.asp?prodCd=BKKHFCI8909A,https://www.gloriatour.com.tw/EW/GO/GroupDetai...,0,/eWeb_gloriatour/IMGDB/000012/000014/001314/00...
2,KWLB5CZ8909A,2018/09/09,日,【幸福一夏】桂林希爾頓、灕江精華遊印象劉三姐五天(無購物)※特別安排張藝謀印象劉三姐+商務V...,,16,0,15,0,16,...,19900,19900,5,GO,團,7,/EW/GO/GroupDetail.asp?prodCd=KWLB5CZ8909A,https://www.gloriatour.com.tw/EW/GO/GroupDetai...,0,/eWeb_gloriatour/IMGDB/000012/000090/000104/00...
3,KS205CI8909A,2018/09/09,日,【馬新旺福】馬新雙國吉隆坡高塔自助餐馬六甲5D立體藝術館金沙娛樂城超值五日遊(新加坡一晚),,18,0,17,0,18,...,20588,20588,5,GO,團,7,/EW/GO/GroupDetail.asp?prodCd=KS205CI8909A,https://www.gloriatour.com.tw/EW/GO/GroupDetai...,0,/eWeb_gloriatour/IMGDB/000012/000014/000763/00...
4,WUXA6CI8909A,2018/09/09,日,江南古運河畔小鎮漫時光 、三國影視城、入住超五星雲瀾灣白金溫泉酒店+自助餐 6日(無購物、無...,,17,0,16,0,17,...,23900,23900,6,GO,團,7,/EW/GO/GroupDetail.asp?prodCd=WUXA6CI8909A,https://www.gloriatour.com.tw/EW/GO/GroupDetai...,0,/eWeb_gloriatour/IMGDB/000012/000090/000103/00...

In [31]:
data1.loc[0]

GrupCd                                                  SELB4BX8909A
LeavDt                                                    2018/09/09
WeekDay                                                            日
GrupSnm               【精選釜慶】汗蒸幕體驗、佛國寺、泰迪熊博物館、天空步道、海洋博物館、太宗台、甘川洞文化村４日
ItnRk3S
EstmYqt                                                           17
DoneYqt                                                            0
SaleYqt                                                           19
DordQt                                                             0
EstmTotqt                                                         20
PortNm                                                      台北-桃園機場
FullSts
RuleDr
SaleCd                                                             1
HotTp
GordLk                                                         False
OrderDl                                                   2018/09/09
HtlOkFg                                                        False
AdvFg                                                          False
GuaranteeFg                                                    False
PromoteFg                                                      False
ApplyQt                                                          999
DepositQt                                                        999
NoDepositQt                                                        0
RqstQt                                                           999
SignUpLink                                                        報名
IsShowGuarantee                                                False
IsShowPromote                                                  False
IsShowHotTp                                                    False
HotTpNm
RecCnt                                                          2853
GoCnt                                                           2853
PgoCnt                                                             0
RowId                                                              1
SacctNo
MgrupCd                                                     SELB4-AB
SaleAm                                                         10800
AgtAm                                                          10800
GrupLn                                                             4
SubCd                                                             GO
SubCdAnm                                                           團
SortSq                                                             7
Url                       /EW/GO/GroupDetail.asp?prodCd=SELB4BX8909A
ShareUrl           https://www.gloriatour.com.tw/EW/GO/GroupDetai...
SrcCls                                                             0
ImgUrl             /eWeb_gloriatour/IMGDB/000012/000013/000589/00...
Name: 0, dtype: object

In [32]:
date1 = data1[['GrupCd','LeavDt','GrupLn','WeekDay','PortNm']]
date1.rename(columns={'GrupCd':'group_code','LeavDt':'date','GrupLn':'days'},inplace = True)

date1.head()

e:\anacondax64\envs\py36\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

     group_code        date  days WeekDay    PortNm
0  SELB4BX8909A  2018/09/09     4       日  台北-桃園機場
1  BKKHFCI8909A  2018/09/09     5       日  台北-桃園機場
2  KWLB5CZ8909A  2018/09/09     5       日  台北-桃園機場
3  KS205CI8909A  2018/09/09     5       日  台北-桃園機場
4  WUXA6CI8909A  2018/09/09     6       日  台北-桃園機場

In [33]:
sql = (
"""    CREATE TABLE `tour`.`date1` (

  `group_code` VARCHAR(15) NOT NULL,
  `date` VARCHAR(10)  NULL,
  `days` INT NULL,
  `WeekDay` VARCHAR(2),
  `PortNm` VARCHAR(15) NULL,
  PRIMARY KEY (`group_code`),
  UNIQUE INDEX `group_code_UNIQUE` (`group_code` ASC) VISIBLE);"""
)

cursor.execute(sql)

0

In [34]:

date1.to_sql(name='date1',con=engine,  if_exists = 'append', index=False)

In [35]:
sale1 = data1[['GrupCd','SaleYqt','EstmTotqt','SaleAm']]
sale1.rename(columns={'GrupCd':'group_code','SaleYqt':'sell','EstmTotqt':'qty','SaleAm':'minprice'},inplace = True)
sale1.head()

e:\anacondax64\envs\py36\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

     group_code  sell  qty  minprice
0  SELB4BX8909A    19   20     10800
1  BKKHFCI8909A    17   18     15700
2  KWLB5CZ8909A    15   16     19900
3  KS205CI8909A    17   18     20588
4  WUXA6CI8909A    16   17     23900

In [36]:
sql = (
"""    CREATE TABLE `tour`.`sale1` (

  `group_code` VARCHAR(15) NOT NULL,
  `sell` INT NULL,
  `qty` INT NULL,
  `minprice` INT NULL,
  PRIMARY KEY (`group_code`),
  UNIQUE INDEX `group_code_UNIQUE` (`group_code` ASC) VISIBLE);"""
)

cursor.execute(sql)

0

In [37]:

sale1.to_sql(name='sale1',con=engine,  if_exists = 'append', index=False)

In [38]:
base1 = data1[['GrupSnm','GrupCd','SubCdAnm','SignUpLink','ImgUrl']]
base1['tour'] = 'gloria'
base1.rename(columns={'GrupSnm':'title','GrupCd':'group_code','tour':'agency_code','ImgUrl':'pic'},inplace = True)

base1.head()

e:\anacondax64\envs\py36\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

e:\anacondax64\envs\py36\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

,title,group_code,SubCdAnm,SignUpLink,pic,agency_code
0,【精選釜慶】汗蒸幕體驗、佛國寺、泰迪熊博物館、天空步道、海洋博物館、太宗台、甘川洞文化村４日,SELB4BX8909A,團,報名,/eWeb_gloriatour/IMGDB/000012/000013/000589/00...,gloria
1,【泰享樂】∼不走蛇園∼ 拉瑪雅納水上樂園、四面佛、鋼鐵人博物館超值五日遊(含稅),BKKHFCI8909A,團,報名,/eWeb_gloriatour/IMGDB/000012/000014/001314/00...,gloria
2,【幸福一夏】桂林希爾頓、灕江精華遊印象劉三姐五天(無購物)※特別安排張藝謀印象劉三姐+商務V...,KWLB5CZ8909A,團,報名,/eWeb_gloriatour/IMGDB/000012/000090/000104/00...,gloria
3,【馬新旺福】馬新雙國吉隆坡高塔自助餐馬六甲5D立體藝術館金沙娛樂城超值五日遊(新加坡一晚),KS205CI8909A,團,報名,/eWeb_gloriatour/IMGDB/000012/000014/000763/00...,gloria
4,江南古運河畔小鎮漫時光 、三國影視城、入住超五星雲瀾灣白金溫泉酒店+自助餐 6日(無購物、無...,WUXA6CI8909A,團,報名,/eWeb_gloriatour/IMGDB/000012/000090/000103/00...,gloria

In [39]:
sql = (
"""    CREATE  TABLE `tour`.`base1` (
`ID`          int         NOT NULL AUTO_INCREMENT,
  `title` VARCHAR(60)  NULL,
  `group_code` VARCHAR(15) NULL,
  `SubCdAnm` VARCHAR(2) NULL,
  `SignUpLink` VARCHAR(5) NULL,
  `pic` VARCHAR(100) NULL,
  `agency_code` VARCHAR(12) NULL,
  PRIMARY KEY (`ID`),
  UNIQUE INDEX `ID_UNIQUE` (`ID` ASC) VISIBLE,
  UNIQUE INDEX `group_code_UNIQUE` (`group_code` ASC) VISIBLE);"""
)

cursor.execute(sql)

0

In [40]:
base1.to_sql(name='base1',con=engine,  if_exists = 'append', index=False)

In [41]:
#########################  分隔線  ###################################

In [42]:
#由 mysql 讀取資料
sql  =  ('SELECT * FROM tour.base2;')
base2 =  getsqldata()
base2.head()

,ID,title,group_code,SubCdAnm,SignUpLink,pic,agency_code
0,1,品味法拉利 南北義 龐貝 藍洞 OUTLET 10天,EW1080909QRA,團,報名,/eWeb_asiantour/IMGDB/000000/00005642.JPG,orange
1,2,浪漫愛琴海雙島：聖托里尼、米克諾斯、天空之城、諸神的故鄉、希臘10天之旅,ES1080909CAA,團,請電洽,/eweb_asiantour/images/default_demo.jpg,orange
2,3,Hello! 長榮荷德比法 3遊船 OUTLET 10天,EW1080901BRA,團,候補,/eweb_asiantour/images/default_demo.jpg,orange
3,4,親子水陸雙樂園5日,ICN180912KEB,團,報名,/eWeb_asiantour/IMGDB/000126/00003008.JPG,orange
4,5,哈韓94狂～超人氣三大主題5日,ICN180912KEA,團,報名,/eweb_asiantour/images/default_demo.jpg,orange

In [43]:
sql  =  ('SELECT * FROM tour.sale2;')
sale2 =  getsqldata()
sale2.head()

     group_code  sell  qty  minprice
0  0BKK181030IT    20   20     11900
1  0BKK181113IT    20   20     11900
2  0BKK181127IT    20   20     11900
3  0BKK181211IT    20   20     11900
4  0BKK181225IT    20   20     11900

In [44]:
sql  =  ('SELECT * FROM tour.date2;')
date2 =  getsqldata()
date2.head()

     group_code        date  days WeekDay    PortNm
0  0BKK181030IT  2018/10/30     5       二  台北-桃園機場
1  0BKK181113IT  2018/11/13     5       二  台北-桃園機場
2  0BKK181127IT  2018/11/27     5       二  台北-桃園機場
3  0BKK181211IT  2018/12/11     5       二  台北-桃園機場
4  0BKK181225IT  2018/12/25     5       二  台北-桃園機場

In [45]:
table2 = base2.merge(date2,on='group_code')
table2 = table2.merge(sale2,on='group_code')
table2.head()

,ID,title,group_code,SubCdAnm,SignUpLink,pic,agency_code,date,days,WeekDay,PortNm,sell,qty,minprice
0,1,品味法拉利 南北義 龐貝 藍洞 OUTLET 10天,EW1080909QRA,團,報名,/eWeb_asiantour/IMGDB/000000/00005642.JPG,orange,2018/09/09,10,日,台北-桃園機場,25,26,75900
1,2,浪漫愛琴海雙島：聖托里尼、米克諾斯、天空之城、諸神的故鄉、希臘10天之旅,ES1080909CAA,團,請電洽,/eweb_asiantour/images/default_demo.jpg,orange,2018/09/09,10,日,台北-桃園機場,0,16,77900
2,3,Hello! 長榮荷德比法 3遊船 OUTLET 10天,EW1080901BRA,團,候補,/eweb_asiantour/images/default_demo.jpg,orange,2018/09/10,10,一,台北-桃園機場,0,26,69900
3,4,親子水陸雙樂園5日,ICN180912KEB,團,報名,/eWeb_asiantour/IMGDB/000126/00003008.JPG,orange,2018/09/12,5,三,台北-桃園機場,16,16,13000
4,5,哈韓94狂～超人氣三大主題5日,ICN180912KEA,團,報名,/eweb_asiantour/images/default_demo.jpg,orange,2018/09/12,5,三,台北-桃園機場,16,16,15000

In [46]:
cursor.close()