In [1]:
# 製作 orange() 及 gloria() 兩方法，分別爬取澄果旅遊和華泰旅遊網站內容，並轉出DataFrame表單
# 建立 mysql 連線，存取與讀出表單

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import json
import time
import re

In [3]:
#取地今日時間

from datetime import datetime
from dateutil.relativedelta import relativedelta
n_days = datetime.now() + relativedelta(months=6)
print (n_days.strftime('%Y/%m/%d')) # %H:%M:%S'))

2019/03/10

In [4]:
#建立資料庫引擎

from sqlalchemy import create_engine
import pymysql
engine = create_engine('mysql+pymysql://root:1qaz!QAZ@127.0.0.1:3306/tour?charset=utf8')

In [5]:
#設定資料庫連線

connect = pymysql.Connect(
#    host='localhost',
    host='127.0.0.1',
    port=3306,
    user='root',
    passwd='1qaz!QAZ',
    db='tour',
    charset='utf8'
)
    
cursor = connect.cursor()

In [6]:
#定義 getsqldata() 方法 
def getsqldata():
    data = pd.read_sql(sql=sql,con=connect)
    return data

In [7]:
#定義 orangeres 方法  取得orange旅行社網頁資料

def orangeres (p = 1):

    url = 'http://www.orangetour.com.tw/EW/Services/SearchListData.asp'
    page = p
    #headers = {'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/68.0.3440.106 Safari/537.36'}
    payload={
        'displayType': 'G',
    #    'subCd': 
        'orderCd': '1',
        'pageALL': str(page),
        'pageGO': '1',
        'pagePGO': '1',
        'waitData': 'false',
        'waitPage': 'false',
    #    'mGrupCd': 
    #    'SrcCls': 
    #    'tabList':
    #    'regmCd': 
    #    'regsCd': 
        'beginDt': str(datetime.now().strftime('%Y/%m/%d')),
        'endDt': '9999/12/31',#str(n_days.strftime('%Y/%m/%d')),
    #    'portCd': 
    #    'tdays': 
    #    'bjt': 
    #    'carr': 
        'allowJoin': '1',
        'allowWait': '1'
    #    'ikeyword': 
    }
    rs = requests.session()
    res = rs.post(url,data = payload)

    res.encoding = 'utf-8'
    return res

In [8]:
# 定義 orangefp 方法  取得當日網站資料總數

def orangefp():
    url2 = 'http://www.orangetour.com.tw/EW/GO/GroupList.asp'
    
    res2 = requests.get(url2,'html.parser')
    res2.encoding = 'utf-8'
    soup = BeautifulSoup(res2.text,'html.parser')
    time.sleep(2)
    a = soup.find_all('ul',{'class':'pagination'})[0].find_all('li',{'class':'next'})[-1].find('a')['onclick']
    fp = re.search(r'\d+',a)
    return int(fp.group(0))

In [13]:
orangefp()

24

In [14]:
#定義 orange() 方法  用迴圈抓取所有網頁資料 並轉出DataFrame 表單

def orange():
    data2 = pd.DataFrame()
    p = 1
    total = 0
    fp = orangefp()
    print(fp)
    while True:
        res = orangeres(p)
        d = json.loads(res.text)
        d = d['All']

        for dd in d:
            df = pd.DataFrame([dd.values()])
            data2 = pd.concat([data2,df])
            
        total += len(d)
        print((p,total),end=",")
        

        if p == fp:        
            break
            
        p += 1
        time.sleep(2)
    data2.columns = (d[0].keys())
    data2['SignUpLink'] = data2['SignUpLink'].apply(lambda x:x['Name'])
    data2.reset_index(inplace = True,drop = True)
    return data2

In [15]:
data2 = orange()
data2.head()

24
(1, 20),(2, 40),(3, 60),(4, 80),(5, 100),(6, 120),(7, 140),(8, 160),(9, 180),(10, 200),(11, 220),(12, 240),(13, 260),(14, 280),(15, 300),(16, 320),(17, 340),(18, 360),(19, 380),(20, 400),(21, 420),(22, 440),(23, 460),(24, 465),

,GrupCd,LeavDt,WeekDay,GrupSnm,ItnRk3S,EstmYqt,DoneYqt,SaleYqt,DordQt,EstmTotqt,...,SaleAm,AgtAm,GrupLn,SubCd,SubCdAnm,SortSq,Url,ShareUrl,SrcCls,ImgUrl
0,EW1080901BRA,2018/09/10,一,Hello! 長榮荷德比法 3遊船 OUTLET 10天,,26,0,0,0,26,...,69900,69900,10,GO,團,7,/EW/GO/GroupDetail.asp?prodCd=EW1080901BRA,http://www.orangetour.com.tw/EW/GO/GroupDetail...,0,/eweb_asiantour/images/default_demo.jpg
1,TYO180913ITA,2018/09/13,四,東京蝦拼半自助漫遊五日,,16,0,15,0,16,...,21999,21999,5,GO,團,7,/EW/GO/GroupDetail.asp?prodCd=TYO180913ITA,http://www.orangetour.com.tw/EW/GO/GroupDetail...,0,/eWeb_asiantour/IMGDB/000002/000003/00000380.JPG
2,AK1080913KQA,2018/09/13,四,肯亞 野性呼喚10天 非洲王子系列,,13,0,12,0,13,...,159900,159900,10,GO,團,7,/EW/GO/GroupDetail.asp?prodCd=AK1080913KQA,http://www.orangetour.com.tw/EW/GO/GroupDetail...,0,/eweb_asiantour/images/default_demo.jpg
3,EE1080914BRA,2018/09/14,五,奧捷雙國、米其林、湖區、古堡、遊船、雙登塔10天(長榮直飛),,26,0,25,0,26,...,62900,62900,10,GO,團,7,/EW/GO/GroupDetail.asp?prodCd=EE1080914BRA,http://www.orangetour.com.tw/EW/GO/GroupDetail...,0,/eweb_asiantour/images/default_demo.jpg
4,AS0680915ZZA,2018/09/15,六,小資奇幻極光 4+1晚 2次遇見極光,,4,0,4,0,4,...,17900,17900,6,GO,團,7,/EW/GO/GroupDetail.asp?prodCd=AS0680915ZZA,http://www.orangetour.com.tw/EW/GO/GroupDetail...,0,/eweb_asiantour/images/default_demo.jpg

In [16]:
#檢查欄位屬性
data2.dtypes

GrupCd             object
LeavDt             object
WeekDay            object
GrupSnm            object
ItnRk3S            object
EstmYqt             int64
DoneYqt             int64
SaleYqt             int64
DordQt              int64
EstmTotqt           int64
PortNm             object
FullSts            object
RuleDr             object
SaleCd              int64
HotTp              object
GordLk               bool
OrderDl            object
HtlOkFg              bool
AdvFg                bool
GuaranteeFg          bool
PromoteFg            bool
ApplyQt             int64
DepositQt           int64
NoDepositQt         int64
RqstQt              int64
SignUpLink         object
IsShowGuarantee      bool
IsShowPromote        bool
IsShowHotTp          bool
HotTpNm            object
RecCnt              int64
GoCnt               int64
PgoCnt              int64
RowId               int64
SacctNo            object
MgrupCd            object
SaleAm              int64
AgtAm               int64
GrupLn              int64
SubCd              object
SubCdAnm           object
SortSq              int64
Url                object
ShareUrl           object
SrcCls              int64
ImgUrl             object
dtype: object

In [17]:
#檢查欄位內容
data2.loc[0]

GrupCd                                                  EW1080901BRA
LeavDt                                                    2018/09/10
WeekDay                                                            一
GrupSnm                                 Hello! 長榮荷德比法 3遊船 OUTLET 10天
ItnRk3S
EstmYqt                                                           26
DoneYqt                                                            0
SaleYqt                                                            0
DordQt                                                             0
EstmTotqt                                                         26
PortNm                                                      台北-桃園機場
FullSts
RuleDr
SaleCd                                                             2
HotTp                                                              3
GordLk                                                         False
OrderDl                                                   2018/09/10
HtlOkFg                                                         True
AdvFg                                                          False
GuaranteeFg                                                    False
PromoteFg                                                      False
ApplyQt                                                          999
DepositQt                                                        999
NoDepositQt                                                        0
RqstQt                                                           999
SignUpLink                                                        候補
IsShowGuarantee                                                False
IsShowPromote                                                  False
IsShowHotTp                                                     True
HotTpNm                                                            滿
RecCnt                                                           465
GoCnt                                                            465
PgoCnt                                                             0
RowId                                                              1
SacctNo
MgrupCd                                                         EW21
SaleAm                                                         69900
AgtAm                                                          69900
GrupLn                                                            10
SubCd                                                             GO
SubCdAnm                                                           團
SortSq                                                             7
Url                       /EW/GO/GroupDetail.asp?prodCd=EW1080901BRA
ShareUrl           http://www.orangetour.com.tw/EW/GO/GroupDetail...
SrcCls                                                             0
ImgUrl                       /eweb_asiantour/images/default_demo.jpg
Name: 0, dtype: object

In [18]:
#將資料依需求篩選欄位，並將欄位名稱改為旅遊咖網頁使用名稱，最後將結果存入mysql

date2 = data2[['GrupCd','LeavDt','GrupLn','WeekDay','PortNm']]
date2.rename(columns={'GrupCd':'group_code','LeavDt':'date','GrupLn':'days'},inplace = True)

date2.head()

e:\anacondax64\envs\py36\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

     group_code        date  days WeekDay    PortNm
0  EW1080901BRA  2018/09/10    10       一  台北-桃園機場
1  TYO180913ITA  2018/09/13     5       四  台北-桃園機場
2  AK1080913KQA  2018/09/13    10       四  台北-桃園機場
3  EE1080914BRA  2018/09/14    10       五  台北-桃園機場
4  AS0680915ZZA  2018/09/15     6       六  台北-桃園機場

In [19]:
#sql = (
#"""    CREATE TABLE `tour`.`date2` (
#
#  `group_code` VARCHAR(15) NOT NULL,
#  `date` VARCHAR(10)  NULL,
#  `days` INT NULL,
#  `WeekDay` VARCHAR(2),
#  `PortNm` VARCHAR(15) NULL,
#  PRIMARY KEY (`group_code`),
#  UNIQUE INDEX `group_code_UNIQUE` (`group_code` ASC) VISIBLE);"""
#)
#
#cursor.execute(sql)

In [20]:
#date2.to_sql(name='date2',con=engine,  if_exists = 'append', index=False)

In [21]:
sale2 = data2[['GrupCd','SaleYqt','EstmTotqt','SaleAm']]
sale2.rename(columns={'GrupCd':'group_code','SaleYqt':'sell','EstmTotqt':'qty','SaleAm':'minprice'},inplace = True)

sale2.head()

e:\anacondax64\envs\py36\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

     group_code  sell  qty  minprice
0  EW1080901BRA     0   26     69900
1  TYO180913ITA    15   16     21999
2  AK1080913KQA    12   13    159900
3  EE1080914BRA    25   26     62900
4  AS0680915ZZA     4    4     17900

In [22]:
#sql = (
#"""    CREATE TABLE `tour`.`sale2` (
#
#  `group_code` VARCHAR(15) NOT NULL,
#  `sell` INT NULL,
#  `qty` INT NULL,
#  `minprice` INT NULL,
#  PRIMARY KEY (`group_code`),
#  UNIQUE INDEX `group_code_UNIQUE` (`group_code` ASC) VISIBLE);"""
#)
#
#cursor.execute(sql)

In [23]:
#sale2.to_sql(name='sale2',con=engine,  if_exists = 'append', index=False)

In [24]:
base2 = data2[['GrupSnm','GrupCd','SubCdAnm','SignUpLink','ImgUrl']]
base2['tour'] = 'orange'
base2.rename(columns={'GrupSnm':'title','GrupCd':'group_code','tour':'agency_code','ImgUrl':'pic'},inplace = True)

base2.head()

e:\anacondax64\envs\py36\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

e:\anacondax64\envs\py36\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

,title,group_code,SubCdAnm,SignUpLink,pic,agency_code
0,Hello! 長榮荷德比法 3遊船 OUTLET 10天,EW1080901BRA,團,候補,/eweb_asiantour/images/default_demo.jpg,orange
1,東京蝦拼半自助漫遊五日,TYO180913ITA,團,報名,/eWeb_asiantour/IMGDB/000002/000003/00000380.JPG,orange
2,肯亞 野性呼喚10天 非洲王子系列,AK1080913KQA,團,報名,/eweb_asiantour/images/default_demo.jpg,orange
3,奧捷雙國、米其林、湖區、古堡、遊船、雙登塔10天(長榮直飛),EE1080914BRA,團,報名,/eweb_asiantour/images/default_demo.jpg,orange
4,小資奇幻極光 4+1晚 2次遇見極光,AS0680915ZZA,團,報名,/eweb_asiantour/images/default_demo.jpg,orange

In [25]:
#sql = (
#"""    CREATE  TABLE `tour`.`base2` (
#`ID`          int         NOT NULL AUTO_INCREMENT,
#  `title` VARCHAR(60)  NULL,
#  `group_code` VARCHAR(15) NULL,
#  `SubCdAnm` VARCHAR(2) NULL,
#  `SignUpLink` VARCHAR(5) NULL,
#  `pic` VARCHAR(100) NULL,
#  `agency_code` VARCHAR(12) NULL,
#  PRIMARY KEY (`ID`),
#  UNIQUE INDEX `ID_UNIQUE` (`ID` ASC) VISIBLE,
#  UNIQUE INDEX `group_code_UNIQUE` (`group_code` ASC) VISIBLE);"""
#)
#
#cursor.execute(sql)

In [26]:
#base2.to_sql(name='base2',con=engine,  if_exists = 'append', index=False)

In [27]:
#############################分隔線  ##############################

In [28]:
def gloriares (p = 1):

    url = 'https://www.gloriatour.com.tw/EW/Services/SearchListData.asp'
    page = p
    #headers = {'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/68.0.3440.106 Safari/537.36'}
    payload={
        'displayType': 'G',
    #    'subCd': 
        'orderCd': '1',
        'pageALL': str(page),
        'pageGO': '1',
        'pagePGO': '1',
        'waitData': 'false',
        'waitPage': 'false',
    #    'mGrupCd': 
    #    'SrcCls': 
    #    'tabList': 
    #    'regmCd': 
    #    'regsCd': 
        'beginDt': str(datetime.now().strftime('%Y/%m/%d')),
        'endDt': '9999/12/31',#str(n_days.strftime('%Y/%m/%d')),
    #    'portCd': 
    #    'tdays': 
    #    'bjt': 
    #    'carr': 
        'allowJoin': '1',
        'allowWait': '1'
    #    'ikeyword': 
    }
    rs = requests.session()
    res = rs.post(url,data = payload)

    res.encoding = 'big5'
    return res

In [29]:
def gloriafp():
    url2 = 'https://www.gloriatour.com.tw/EW/GO/GroupList.asp'
    
    res2 = requests.get(url2,'html.parser')
    res2.encoding = 'utf-8'
    soup = BeautifulSoup(res2.text,'html.parser')
    a = soup.find_all('ul',{'class':'pagination'})[0].find_all('li',{'class':'next'})[-1].find('a')['onclick']
    fp = re.search(r'\d+',a)
    return int(fp.group(0))

In [30]:
gloriafp()

142

In [31]:
def gloria():
    data2 = pd.DataFrame()
    p = 1
    n=0
    total = 0
    fp = gloriafp()
    while True:
        res = gloriares(p)
        d = json.loads(res.text)
        d = d['All']
        
        for dd in d:
            df = pd.DataFrame([dd.values()])
            data2 = pd.concat([data2,df])
            
        total += len(d)
        print((p,total),end=",")
        
        if p == fp:
            break
            
        p += 1
        n += 1
        time.sleep(2)
    data2.columns = (d[0].keys())
    data2['SignUpLink'] = data2['SignUpLink'].apply(lambda x:x['Name'])
    data2.reset_index(inplace = True,drop = True)
    return data2

In [32]:
data1 = gloria()
data1.head()

(1, 20),(2, 40),(3, 60),(4, 80),(5, 100),(6, 120),(7, 140),(8, 160),(9, 180),(10, 200),(11, 220),(12, 240),(13, 260),(14, 280),(15, 300),(16, 320),(17, 340),(18, 360),(19, 380),(20, 400),(21, 420),(22, 440),(23, 460),(24, 480),(25, 500),(26, 520),(27, 540),(28, 560),(29, 580),(30, 600),(31, 620),(32, 640),(33, 660),(34, 680),(35, 700),(36, 720),(37, 740),(38, 760),(39, 780),(40, 800),(41, 820),(42, 840),(43, 860),(44, 880),(45, 900),(46, 920),(47, 940),(48, 960),(49, 980),(50, 1000),(51, 1020),(52, 1040),(53, 1060),(54, 1080),(55, 1100),(56, 1120),(57, 1140),(58, 1160),(59, 1180),(60, 1200),(61, 1220),(62, 1240),(63, 1260),(64, 1280),(65, 1300),(66, 1320),(67, 1340),(68, 1360),(69, 1380),(70, 1400),(71, 1420),(72, 1440),(73, 1460),(74, 1480),(75, 1500),(76, 1520),(77, 1540),(78, 1560),(79, 1580),(80, 1600),(81, 1620),(82, 1640),(83, 1660),(84, 1680),(85, 1700),(86, 1720),(87, 1740),(88, 1760),(89, 1780),(90, 1800),(91, 1820),(92, 1840),(93, 1860),(94, 1880),(95, 1900),(96, 1920),(97, 1940),(98, 1960),(99, 1980),(100, 2000),(101, 2020),(102, 2040),(103, 2060),(104, 2080),(105, 2100),(106, 2120),(107, 2140),(108, 2160),(109, 2180),(110, 2200),(111, 2220),(112, 2240),(113, 2260),(114, 2280),(115, 2300),(116, 2320),(117, 2340),(118, 2360),(119, 2380),(120, 2400),(121, 2420),(122, 2440),(123, 2460),(124, 2480),(125, 2500),(126, 2520),(127, 2540),(128, 2560),(129, 2580),(130, 2600),(131, 2620),(132, 2640),(133, 2660),(134, 2680),(135, 2700),(136, 2720),(137, 2740),(138, 2760),(139, 2780),(140, 2800),(141, 2820),(142, 2833),

,GrupCd,LeavDt,WeekDay,GrupSnm,ItnRk3S,EstmYqt,DoneYqt,SaleYqt,DordQt,EstmTotqt,...,SaleAm,AgtAm,GrupLn,SubCd,SubCdAnm,SortSq,Url,ShareUrl,SrcCls,ImgUrl
0,SIND4CI8910A,2018/09/10,一,【線上旅展】就去新加坡玩吧自由輕鬆走四日遊【送環球影城門票＋園區餐券】(二人成行),,6,0,6,0,6,...,16000,16000,4,GO,團,7,/EW/GO/GroupDetail.asp?prodCd=SIND4CI8910A,https://www.gloriatour.com.tw/EW/GO/GroupDetai...,0,/eWeb_gloriatour/IMGDB/000012/000014/000811/00...
1,JOKA4CI8910B,2018/09/10,一,【歡樂沖繩】∼琉球海洋博、永旺夢樂城、美國村、歡樂四日,,20,0,0,0,20,...,19900,19900,4,GO,團,7,/EW/GO/GroupDetail.asp?prodCd=JOKA4CI8910B,https://www.gloriatour.com.tw/EW/GO/GroupDetai...,0,/eWeb_gloriatour/IMGDB/000012/000013/000015/00...
2,SINI4CI8910A,2018/09/10,一,【線上旅展】星光熠熠新加坡環球影城濱海灣花園金沙娛樂城超值四日(四人成行),,6,0,6,0,6,...,20500,20500,4,GO,團,7,/EW/GO/GroupDetail.asp?prodCd=SINI4CI8910A,https://www.gloriatour.com.tw/EW/GO/GroupDetai...,0,/eWeb_gloriatour/IMGDB/000012/000014/000811/00...
3,KWEA6CZ8910A,2018/09/10,一,【多彩貴州】黃果樹瀑布 、東西峰林八卦田、馬嶺河峽谷超值六日遊(無購物),,16,0,15,0,16,...,22900,22900,6,GO,團,7,/EW/GO/GroupDetail.asp?prodCd=KWEA6CZ8910A,https://www.gloriatour.com.tw/EW/GO/GroupDetai...,0,/eWeb_gloriatour/IMGDB/000012/000090/000099/00...
4,BKIA5MH8910A,2018/09/10,一,【線上旅展】馬來西亞沙巴長鼻猴螢河遊泛舟海洋國家公園五日(4+5星)(6人成行),,16,0,0,0,16,...,24500,24500,5,GO,團,7,/EW/GO/GroupDetail.asp?prodCd=BKIA5MH8910A,https://www.gloriatour.com.tw/EW/GO/GroupDetai...,0,/eWeb_gloriatour/IMGDB/000012/000014/000763/00...

In [33]:
data1.loc[0]

GrupCd                                                  SIND4CI8910A
LeavDt                                                    2018/09/10
WeekDay                                                            一
GrupSnm                    【線上旅展】就去新加坡玩吧自由輕鬆走四日遊【送環球影城門票＋園區餐券】(二人成行)
ItnRk3S
EstmYqt                                                            6
DoneYqt                                                            0
SaleYqt                                                            6
DordQt                                                             0
EstmTotqt                                                          6
PortNm                                                      台北-桃園機場
FullSts
RuleDr
SaleCd                                                             1
HotTp
GordLk                                                         False
OrderDl                                                   2018/09/10
HtlOkFg                                                        False
AdvFg                                                          False
GuaranteeFg                                                    False
PromoteFg                                                      False
ApplyQt                                                          999
DepositQt                                                        999
NoDepositQt                                                        0
RqstQt                                                           999
SignUpLink                                                        報名
IsShowGuarantee                                                False
IsShowPromote                                                  False
IsShowHotTp                                                    False
HotTpNm
RecCnt                                                          2833
GoCnt                                                           2833
PgoCnt                                                             0
RowId                                                              1
SacctNo
MgrupCd                                                        SIND4
SaleAm                                                         16000
AgtAm                                                          16000
GrupLn                                                             4
SubCd                                                             GO
SubCdAnm                                                           團
SortSq                                                             7
Url                       /EW/GO/GroupDetail.asp?prodCd=SIND4CI8910A
ShareUrl           https://www.gloriatour.com.tw/EW/GO/GroupDetai...
SrcCls                                                             0
ImgUrl             /eWeb_gloriatour/IMGDB/000012/000014/000811/00...
Name: 0, dtype: object

In [34]:
date1 = data1[['GrupCd','LeavDt','GrupLn','WeekDay','PortNm']]
date1.rename(columns={'GrupCd':'group_code','LeavDt':'date','GrupLn':'days'},inplace = True)

date1.head()

e:\anacondax64\envs\py36\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

     group_code        date  days WeekDay    PortNm
0  SIND4CI8910A  2018/09/10     4       一  台北-桃園機場
1  JOKA4CI8910B  2018/09/10     4       一  台北-桃園機場
2  SINI4CI8910A  2018/09/10     4       一  台北-桃園機場
3  KWEA6CZ8910A  2018/09/10     6       一  台北-桃園機場
4  BKIA5MH8910A  2018/09/10     5       一  台北-桃園機場

In [35]:
#sql = (
#"""    CREATE TABLE `tour`.`date1` (
#
#  `group_code` VARCHAR(15) NOT NULL,
#  `date` VARCHAR(10)  NULL,
#  `days` INT NULL,
#  `WeekDay` VARCHAR(2),
#  `PortNm` VARCHAR(15) NULL,
#  PRIMARY KEY (`group_code`),
#  UNIQUE INDEX `group_code_UNIQUE` (`group_code` ASC) VISIBLE);"""
#)
#
#cursor.execute(sql)

In [36]:
#date1.to_sql(name='date1',con=engine,  if_exists = 'append', index=False)

In [37]:
sale1 = data1[['GrupCd','SaleYqt','EstmTotqt','SaleAm']]
sale1.rename(columns={'GrupCd':'group_code','SaleYqt':'sell','EstmTotqt':'qty','SaleAm':'minprice'},inplace = True)
sale1.head()

e:\anacondax64\envs\py36\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

     group_code  sell  qty  minprice
0  SIND4CI8910A     6    6     16000
1  JOKA4CI8910B     0   20     19900
2  SINI4CI8910A     6    6     20500
3  KWEA6CZ8910A    15   16     22900
4  BKIA5MH8910A     0   16     24500

In [38]:
#sql = (
#"""    CREATE TABLE `tour`.`sale1` (
#
#  `group_code` VARCHAR(15) NOT NULL,
#  `sell` INT NULL,
#  `qty` INT NULL,
#  `minprice` INT NULL,
#  PRIMARY KEY (`group_code`),
#  UNIQUE INDEX `group_code_UNIQUE` (`group_code` ASC) VISIBLE);"""
#)
#
#cursor.execute(sql)

In [39]:
#sale1.to_sql(name='sale1',con=engine,  if_exists = 'append', index=False)

In [40]:
base1 = data1[['GrupSnm','GrupCd','SubCdAnm','SignUpLink','ImgUrl']]
base1['tour'] = 'gloria'
base1.rename(columns={'GrupSnm':'title','GrupCd':'group_code','tour':'agency_code','ImgUrl':'pic'},inplace = True)

base1.head()

e:\anacondax64\envs\py36\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

e:\anacondax64\envs\py36\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

,title,group_code,SubCdAnm,SignUpLink,pic,agency_code
0,【線上旅展】就去新加坡玩吧自由輕鬆走四日遊【送環球影城門票＋園區餐券】(二人成行),SIND4CI8910A,團,報名,/eWeb_gloriatour/IMGDB/000012/000014/000811/00...,gloria
1,【歡樂沖繩】∼琉球海洋博、永旺夢樂城、美國村、歡樂四日,JOKA4CI8910B,團,候補,/eWeb_gloriatour/IMGDB/000012/000013/000015/00...,gloria
2,【線上旅展】星光熠熠新加坡環球影城濱海灣花園金沙娛樂城超值四日(四人成行),SINI4CI8910A,團,報名,/eWeb_gloriatour/IMGDB/000012/000014/000811/00...,gloria
3,【多彩貴州】黃果樹瀑布 、東西峰林八卦田、馬嶺河峽谷超值六日遊(無購物),KWEA6CZ8910A,團,報名,/eWeb_gloriatour/IMGDB/000012/000090/000099/00...,gloria
4,【線上旅展】馬來西亞沙巴長鼻猴螢河遊泛舟海洋國家公園五日(4+5星)(6人成行),BKIA5MH8910A,團,候補,/eWeb_gloriatour/IMGDB/000012/000014/000763/00...,gloria

In [41]:
#sql = (
#"""    CREATE TABLE `tour`.`base1` (
#`ID`          int         NOT NULL AUTO_INCREMENT,
#  `title` VARCHAR(60)  NULL,
#  `group_code` VARCHAR(15) NULL,
#  `SubCdAnm` VARCHAR(2) NULL,
#  `SignUpLink` VARCHAR(5) NULL,
#  `pic` VARCHAR(100) NULL,
#  `agency_code` VARCHAR(12) NULL,
#  PRIMARY KEY (`ID`),
#  UNIQUE INDEX `ID_UNIQUE` (`ID` ASC) VISIBLE,
#  UNIQUE INDEX `group_code_UNIQUE` (`group_code` ASC) VISIBLE);"""
#)
#
#cursor.execute(sql)

In [42]:
#base1.to_sql(name='base1',con=engine,  if_exists = 'append', index=False)

In [43]:
#########################  分隔線  ###################################

In [44]:
#由 mysql 讀取資料
sql  =  ('SELECT * FROM tour.base2;')
base2 =  getsqldata()
base2.head()

,ID,title,group_code,SubCdAnm,SignUpLink,pic,agency_code
0,1,品味法拉利 南北義 龐貝 藍洞 OUTLET 10天,EW1080909QRA,團,報名,/eWeb_asiantour/IMGDB/000000/00005642.JPG,orange
1,2,浪漫愛琴海雙島：聖托里尼、米克諾斯、天空之城、諸神的故鄉、希臘10天之旅,ES1080909CAA,團,請電洽,/eweb_asiantour/images/default_demo.jpg,orange
2,3,Hello! 長榮荷德比法 3遊船 OUTLET 10天,EW1080901BRA,團,候補,/eweb_asiantour/images/default_demo.jpg,orange
3,4,親子水陸雙樂園5日,ICN180912KEB,團,報名,/eWeb_asiantour/IMGDB/000126/00003008.JPG,orange
4,5,哈韓94狂～超人氣三大主題5日,ICN180912KEA,團,報名,/eweb_asiantour/images/default_demo.jpg,orange

In [45]:
sql  =  ('SELECT * FROM tour.sale2;')
sale2 =  getsqldata()
sale2.head()

     group_code  sell  qty  minprice
0  0BKK181030IT    20   20     11900
1  0BKK181113IT    20   20     11900
2  0BKK181127IT    20   20     11900
3  0BKK181211IT    20   20     11900
4  0BKK181225IT    20   20     11900

In [46]:
sql  =  ('SELECT * FROM tour.date2;')
date2 =  getsqldata()
date2.head()

     group_code        date  days WeekDay    PortNm
0  0BKK181030IT  2018/10/30     5       二  台北-桃園機場
1  0BKK181113IT  2018/11/13     5       二  台北-桃園機場
2  0BKK181127IT  2018/11/27     5       二  台北-桃園機場
3  0BKK181211IT  2018/12/11     5       二  台北-桃園機場
4  0BKK181225IT  2018/12/25     5       二  台北-桃園機場

In [47]:
table2 = base2.merge(date2,on='group_code')
table2 = table2.merge(sale2,on='group_code')
table2.head()

,ID,title,group_code,SubCdAnm,SignUpLink,pic,agency_code,date,days,WeekDay,PortNm,sell,qty,minprice
0,1,品味法拉利 南北義 龐貝 藍洞 OUTLET 10天,EW1080909QRA,團,報名,/eWeb_asiantour/IMGDB/000000/00005642.JPG,orange,2018/09/09,10,日,台北-桃園機場,25,26,75900
1,2,浪漫愛琴海雙島：聖托里尼、米克諾斯、天空之城、諸神的故鄉、希臘10天之旅,ES1080909CAA,團,請電洽,/eweb_asiantour/images/default_demo.jpg,orange,2018/09/09,10,日,台北-桃園機場,0,16,77900
2,3,Hello! 長榮荷德比法 3遊船 OUTLET 10天,EW1080901BRA,團,候補,/eweb_asiantour/images/default_demo.jpg,orange,2018/09/10,10,一,台北-桃園機場,0,26,69900
3,4,親子水陸雙樂園5日,ICN180912KEB,團,報名,/eWeb_asiantour/IMGDB/000126/00003008.JPG,orange,2018/09/12,5,三,台北-桃園機場,16,16,13000
4,5,哈韓94狂～超人氣三大主題5日,ICN180912KEA,團,報名,/eweb_asiantour/images/default_demo.jpg,orange,2018/09/12,5,三,台北-桃園機場,16,16,15000

In [48]:
date2.head()

     group_code        date  days WeekDay    PortNm
0  0BKK181030IT  2018/10/30     5       二  台北-桃園機場
1  0BKK181113IT  2018/11/13     5       二  台北-桃園機場
2  0BKK181127IT  2018/11/27     5       二  台北-桃園機場
3  0BKK181211IT  2018/12/11     5       二  台北-桃園機場
4  0BKK181225IT  2018/12/25     5       二  台北-桃園機場

In [49]:
#yy = ("""SELECT * FROM date2;""")
#oldsql = pd.read_sql(sql=yy,con=connect)
#oldsql.head()

In [50]:
def update_date2():
    cursor = connect.cursor()
    yy = ("""SELECT * FROM date2;""")
    oldsql = pd.read_sql(sql=yy,con=connect)
    #qaz = pd.read_excel('qaz.xlsx')
    for newid in date2['group_code']:
        if newid not in list(oldsql['group_code']):
    #        print(newid)
            insert = str((date2.loc[newid,'group_code'],date2.loc[newid,'date'],date2.loc[newid,'days'],date2.loc[newid,'WeekDay'],date2.loc[newid,'PortNm']))
            print(insert)
            sql = (
            """   INSERT INTO test.qaz
            values """+insert+"""
            ;"""
            )
            cursor.execute(sql)
            connect.commit()
    for idx , ser in date2.iterrows():
        group_code = ser['group_code']
        date = ser['date']
        days = ser['days']
        WeekDay = ser['WeekDay']
        PortNm = ser['PortNm']


        sql = (
        """   UPDATE tour.date2
        SET date = """+'"'+date+'"'+""",days = """+str(days)+""",WeekDay = """+'"'+WeekDay+'"'+""",PortNm = """+'"'+PortNm+'"'+"""
        WHERE group_code = """+ '"'+group_code+'"'+"""
        ;"""
        )
        cursor.execute(sql)
        connect.commit()
    cursor.close()

In [51]:
sale2.head()

     group_code  sell  qty  minprice
0  0BKK181030IT    20   20     11900
1  0BKK181113IT    20   20     11900
2  0BKK181127IT    20   20     11900
3  0BKK181211IT    20   20     11900
4  0BKK181225IT    20   20     11900

In [52]:
def update_sale2():
    cursor = connect.cursor()
    yy = ("""SELECT * FROM sale2;""")
    oldsql = pd.read_sql(sql=yy,con=connect)
    #qaz = pd.read_excel('qaz.xlsx')
    for newid in sale2['group_code']:
        if newid not in list(oldsql['group_code']):
    #        print(newid)
            insert = str((sale2.loc[newid,'group_code'],sale2.loc[newid,'sell'],sale2.loc[newid,'qty'],sale2.loc[newid,'minprice']))
            print(insert)
            sql = (
            """   INSERT INTO test.qaz
            values """+insert+"""
            ;"""
            )
            cursor.execute(sql)
            connect.commit()
    for idx , ser in sale2.iterrows():
        group_code = ser['group_code']
        sell = ser['sell']
        qty = ser['qty']
        minprice = ser['minprice']



        sql = (
        """   UPDATE tour.sale2
        SET sell = """+str(sell)+""",qty = """+str(qty)+""",minprice = """+str(minprice)+"""
        WHERE group_code = """+ '"'+group_code+'"'+"""
        ;"""
        )
        cursor.execute(sql)
        connect.commit()
    cursor.close()

In [53]:
base2.head()

,ID,title,group_code,SubCdAnm,SignUpLink,pic,agency_code
0,1,品味法拉利 南北義 龐貝 藍洞 OUTLET 10天,EW1080909QRA,團,報名,/eWeb_asiantour/IMGDB/000000/00005642.JPG,orange
1,2,浪漫愛琴海雙島：聖托里尼、米克諾斯、天空之城、諸神的故鄉、希臘10天之旅,ES1080909CAA,團,請電洽,/eweb_asiantour/images/default_demo.jpg,orange
2,3,Hello! 長榮荷德比法 3遊船 OUTLET 10天,EW1080901BRA,團,候補,/eweb_asiantour/images/default_demo.jpg,orange
3,4,親子水陸雙樂園5日,ICN180912KEB,團,報名,/eWeb_asiantour/IMGDB/000126/00003008.JPG,orange
4,5,哈韓94狂～超人氣三大主題5日,ICN180912KEA,團,報名,/eweb_asiantour/images/default_demo.jpg,orange

In [54]:
def update_base2():
    cursor = connect.cursor()
    yy = ("""SELECT * FROM base2;""")
    oldsql = pd.read_sql(sql=yy,con=connect)
    #qaz = pd.read_excel('qaz.xlsx')
    for newid in base2['group_code']:
        if newid not in list(oldsql['group_code']):
    #        print(newid)
            insert = str((base2.loc[newid,'title'],base2.loc[newid,'group_code'],base2.loc[newid,'SubCdAnm'],base2.loc[newid,'SignUpLink'],base2.loc[newid,'pic'],base2.loc[newid,'agency_code']))
            print(insert)
            sql = (
            """   INSERT INTO test.qaz
            values """+insert+"""
            ;"""
            )
            cursor.execute(sql)
            connect.commit()
    for idx , ser in base2.iterrows():
        title = ser['title']
        group_code = ser['group_code']
        SubCdAnm = ser['SubCdAnm']
        SignUpLink = ser['SignUpLink']
        pic = ser['pic']
        agency_code = ser['agency_code']


        sql = (
        """   UPDATE tour.base2
        SET title = """+'"'+title+'"'+""",SubCdAnm = """+'"'+SubCdAnm+'"'+""",SignUpLink = """+'"'+SignUpLink+'"'+""",pic = """+'"'+pic+'"'+""",agency_code = """+'"'+agency_code+'"'+"""
        WHERE group_code = """+ '"'+group_code+'"'+"""
        ;"""
        )
        cursor.execute(sql)
        connect.commit()
    cursor.close()

In [55]:
def update_date1():
    cursor = connect.cursor()
    yy = ("""SELECT * FROM date1;""")
    oldsql = pd.read_sql(sql=yy,con=connect)
    #qaz = pd.read_excel('qaz.xlsx')
    for newid in date1['group_code']:
        if newid not in list(oldsql['group_code']):
    #        print(newid)
            insert = str((date1.loc[newid,'group_code'],date1.loc[newid,'date'],date1.loc[newid,'days'],date1.loc[newid,'WeekDay'],date1.loc[newid,'PortNm']))
            print(insert)
            sql = (
            """   INSERT INTO test.qaz
            values """+insert+"""
            ;"""
            )
            cursor.execute(sql)
            connect.commit()
    for idx , ser in date1.iterrows():
        group_code = ser['group_code']
        date = ser['date']
        days = ser['days']
        WeekDay = ser['WeekDay']
        PortNm = ser['PortNm']


        sql = (
        """   UPDATE tour.date1
        SET date = """+'"'+date+'"'+""",days = """+str(days)+""",WeekDay = """+'"'+WeekDay+'"'+""",PortNm = """+'"'+PortNm+'"'+"""
        WHERE group_code = """+ '"'+group_code+'"'+"""
        ;"""
        )
        cursor.execute(sql)
        connect.commit()
    cursor.close()

In [56]:
def update_sale1():
    cursor = connect.cursor()
    yy = ("""SELECT * FROM sale1;""")
    oldsql = pd.read_sql(sql=yy,con=connect)
    #qaz = pd.read_excel('qaz.xlsx')
    for newid in sale1['group_code']:
        if newid not in list(oldsql['group_code']):
    #        print(newid)
            insert = str((sale1.loc[newid,'group_code'],sale1.loc[newid,'sell'],sale1.loc[newid,'qty'],sale1.loc[newid,'minprice']))
            print(insert)
            sql = (
            """   INSERT INTO test.qaz
            values """+insert+"""
            ;"""
            )
            cursor.execute(sql)
            connect.commit()
    for idx , ser in sale1.iterrows():
        group_code = ser['group_code']
        sell = ser['sell']
        qty = ser['qty']
        minprice = ser['minprice']



        sql = (
        """   UPDATE tour.sale1
        SET sell = """+str(sell)+""",qty = """+str(qty)+""",minprice = """+str(minprice)+"""
        WHERE group_code = """+ '"'+group_code+'"'+"""
        ;"""
        )
        cursor.execute(sql)
        connect.commit()
    cursor.close()

In [57]:
def update_base1():
    cursor = connect.cursor()
    yy = ("""SELECT * FROM base1;""")
    oldsql = pd.read_sql(sql=yy,con=connect)
    #qaz = pd.read_excel('qaz.xlsx')
    for newid in base1['group_code']:
        if newid not in list(oldsql['group_code']):
    #        print(newid)
            insert = str((base1.loc[newid,'title'],base1.loc[newid,'group_code'],base1.loc[newid,'SubCdAnm'],base1.loc[newid,'SignUpLink'],base1.loc[newid,'pic'],base1.loc[newid,'agency_code']))
            print(insert)
            sql = (
            """   INSERT INTO test.qaz
            values """+insert+"""
            ;"""
            )
            cursor.execute(sql)
            connect.commit()
    for idx , ser in base1.iterrows():
        title = ser['title']
        group_code = ser['group_code']
        SubCdAnm = ser['SubCdAnm']
        SignUpLink = ser['SignUpLink']
        pic = ser['pic']
        agency_code = ser['agency_code']


        sql = (
        """   UPDATE tour.base1
        SET title = """+'"'+title+'"'+""",SubCdAnm = """+'"'+SubCdAnm+'"'+""",SignUpLink = """+'"'+SignUpLink+'"'+""",pic = """+'"'+pic+'"'+""",agency_code = """+'"'+agency_code+'"'+"""
        WHERE group_code = """+ '"'+group_code+'"'+"""
        ;"""
        )
        cursor.execute(sql)
        connect.commit()
    cursor.close()

In [58]:
def update_all():
    update_date1()
    update_sale1()
    update_base1()
    update_date2()
    update_sale2()
    update_base2()

In [ ]:
update_all()