In [1]:
# 製作 orange() 及 gloria() 兩方法，分別爬取澄果旅遊和華泰旅遊網站內容，並轉出DataFrame表單
# 建立 mysql 連線，存取與讀出表單

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import json
import time
import re

In [3]:
#取地今日時間

from datetime import datetime
from dateutil.relativedelta import relativedelta
n_days = datetime.now() + relativedelta(months=6)
print (n_days.strftime('%Y/%m/%d')) # %H:%M:%S'))

2019/03/13

In [4]:
#建立資料庫引擎

from sqlalchemy import create_engine
import pymysql
engine = create_engine('mysql+pymysql://root:1qaz!QAZ@127.0.0.1:3306/tour?charset=utf8')

In [5]:
#設定資料庫連線

connect = pymysql.Connect(
#    host='localhost',
    host='127.0.0.1',
    port=3306,
    user='root',
    passwd='1qaz!QAZ',
    db='tour',
    charset='utf8'
)
    
cursor = connect.cursor()

In [6]:
#定義 getsqldata() 方法 
def getsqldata():
    data = pd.read_sql(sql=sql,con=connect)
    return data

In [7]:
#定義 orangeres 方法  取得orange旅行社網頁資料

def orangeres (p = 1):

    url = 'http://www.orangetour.com.tw/EW/Services/SearchListData.asp'
    page = p
    #headers = {'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/68.0.3440.106 Safari/537.36'}
    payload={
        'displayType': 'G',
    #    'subCd': 
        'orderCd': '1',
        'pageALL': str(page),
        'pageGO': '1',
        'pagePGO': '1',
        'waitData': 'false',
        'waitPage': 'false',
    #    'mGrupCd': 
    #    'SrcCls': 
    #    'tabList':
    #    'regmCd': 
    #    'regsCd': 
        'beginDt': str(datetime.now().strftime('%Y/%m/%d')),
        'endDt': '9999/12/31',#str(n_days.strftime('%Y/%m/%d')),
    #    'portCd': 
    #    'tdays': 
    #    'bjt': 
    #    'carr': 
        'allowJoin': '1',
        'allowWait': '1'
    #    'ikeyword': 
    }
    rs = requests.session()
    res = rs.post(url,data = payload)

    res.encoding = 'utf-8'
    return res

In [8]:
# 定義 orangefp 方法  取得當日網站資料總數

def orangefp():
    url2 = 'http://www.orangetour.com.tw/EW/GO/GroupList.asp'
    
    res2 = requests.get(url2,'html.parser')
    res2.encoding = 'utf-8'
    soup = BeautifulSoup(res2.text,'html.parser')
    time.sleep(2)
    a = soup.find_all('ul',{'class':'pagination'})[0].find_all('li',{'class':'next'})[-1].find('a')['onclick']
    fp = re.search(r'\d+',a)
    return int(fp.group(0))

In [9]:
orangefp()

24

In [10]:
#定義 orange() 方法  用迴圈抓取所有網頁資料 並轉出DataFrame 表單

def orange():
    data2 = pd.DataFrame()
    p = 1
    total = 0
    fp = orangefp()
    print(fp)
    while True:
        res = orangeres(p)
        d = json.loads(res.text)
        d = d['All']

        for dd in d:
            df = pd.DataFrame([dd.values()])
            data2 = pd.concat([data2,df])
            
        total += len(d)
        print((p,total),end=",")
        

        if p == fp:        
            break
            
        p += 1
        time.sleep(2)
    data2.columns = (d[0].keys())
    data2['SignUpLink'] = data2['SignUpLink'].apply(lambda x:x['Name'])
    data2.reset_index(inplace = True,drop = True)
    return data2

In [11]:
data2 = orange()
data2.head()

24
(1, 20),(2, 40),(3, 60),(4, 80),(5, 100),(6, 120),(7, 140),(8, 160),(9, 180),(10, 200),(11, 220),(12, 240),(13, 260),(14, 280),(15, 300),(16, 320),(17, 340),(18, 360),(19, 380),(20, 400),(21, 420),(22, 440),(23, 460),(24, 475),

,GrupCd,LeavDt,WeekDay,GrupSnm,ItnRk3S,EstmYqt,DoneYqt,SaleYqt,DordQt,EstmTotqt,...,SaleAm,AgtAm,GrupLn,SubCd,SubCdAnm,SortSq,Url,ShareUrl,SrcCls,ImgUrl
0,TYO180913ITA,2018/09/13,四,東京蝦拼半自助漫遊五日,,16,0,15,0,16,...,21999,21999,5,GO,團,7,/EW/GO/GroupDetail.asp?prodCd=TYO180913ITA,http://www.orangetour.com.tw/EW/GO/GroupDetail...,0,/eWeb_asiantour/IMGDB/000002/000003/00000380.JPG
1,AK1080913KQA,2018/09/13,四,肯亞 野性呼喚10天 非洲王子系列,,13,0,12,0,13,...,159900,159900,10,GO,團,7,/EW/GO/GroupDetail.asp?prodCd=AK1080913KQA,http://www.orangetour.com.tw/EW/GO/GroupDetail...,0,/eweb_asiantour/images/default_demo.jpg
2,EE1080914BRA,2018/09/14,五,奧捷雙國、米其林、湖區、古堡、遊船、雙登塔10天(長榮直飛),,26,0,25,0,26,...,62900,62900,10,GO,團,7,/EW/GO/GroupDetail.asp?prodCd=EE1080914BRA,http://www.orangetour.com.tw/EW/GO/GroupDetail...,0,/eweb_asiantour/images/default_demo.jpg
3,AS0680915ZZA,2018/09/15,六,小資奇幻極光 4+1晚 2次遇見極光,,4,0,4,0,4,...,17900,17900,6,GO,團,7,/EW/GO/GroupDetail.asp?prodCd=AS0680915ZZA,http://www.orangetour.com.tw/EW/GO/GroupDetail...,0,/eweb_asiantour/images/default_demo.jpg
4,AN1080915QRA,2018/09/15,六,摩洛哥 10天 卡薩布蘭、卡四大皇城、撒哈拉沙漠、阿班哈杜,,26,0,0,0,26,...,69900,69900,10,GO,團,7,/EW/GO/GroupDetail.asp?prodCd=AN1080915QRA,http://www.orangetour.com.tw/EW/GO/GroupDetail...,0,/eweb_asiantour/images/default_demo.jpg

In [12]:
#檢查欄位屬性
data2.dtypes

GrupCd             object
LeavDt             object
WeekDay            object
GrupSnm            object
ItnRk3S            object
EstmYqt             int64
DoneYqt             int64
SaleYqt             int64
DordQt              int64
EstmTotqt           int64
PortNm             object
FullSts            object
RuleDr             object
SaleCd              int64
HotTp              object
GordLk               bool
OrderDl            object
HtlOkFg              bool
AdvFg                bool
GuaranteeFg          bool
PromoteFg            bool
ApplyQt             int64
DepositQt           int64
NoDepositQt         int64
RqstQt              int64
SignUpLink         object
IsShowGuarantee      bool
IsShowPromote        bool
IsShowHotTp          bool
HotTpNm            object
RecCnt              int64
GoCnt               int64
PgoCnt              int64
RowId               int64
SacctNo            object
MgrupCd            object
SaleAm              int64
AgtAm               int64
GrupLn              int64
SubCd              object
SubCdAnm           object
SortSq              int64
Url                object
ShareUrl           object
SrcCls              int64
ImgUrl             object
dtype: object

In [13]:
#檢查欄位內容
data2.loc[0]

GrupCd                                                  TYO180913ITA
LeavDt                                                    2018/09/13
WeekDay                                                            四
GrupSnm                                                  東京蝦拼半自助漫遊五日
ItnRk3S
EstmYqt                                                           16
DoneYqt                                                            0
SaleYqt                                                           15
DordQt                                                             0
EstmTotqt                                                         16
PortNm                                                      台北-桃園機場
FullSts
RuleDr
SaleCd                                                             1
HotTp
GordLk                                                         False
OrderDl                                                   2018/09/13
HtlOkFg                                                         True
AdvFg                                                          False
GuaranteeFg                                                    False
PromoteFg                                                      False
ApplyQt                                                          999
DepositQt                                                        999
NoDepositQt                                                        0
RqstQt                                                           999
SignUpLink                                                        報名
IsShowGuarantee                                                False
IsShowPromote                                                  False
IsShowHotTp                                                    False
HotTpNm
RecCnt                                                           475
GoCnt                                                            475
PgoCnt                                                             0
RowId                                                              1
SacctNo
MgrupCd                                                        TYO-2
SaleAm                                                         21999
AgtAm                                                          21999
GrupLn                                                             5
SubCd                                                             GO
SubCdAnm                                                           團
SortSq                                                             7
Url                       /EW/GO/GroupDetail.asp?prodCd=TYO180913ITA
ShareUrl           http://www.orangetour.com.tw/EW/GO/GroupDetail...
SrcCls                                                             0
ImgUrl              /eWeb_asiantour/IMGDB/000002/000003/00000380.JPG
Name: 0, dtype: object

In [14]:
def orange_tables():
    date2 = data2[['GrupCd','LeavDt','GrupLn','WeekDay']]
    date2.rename(columns={'GrupCd':'group_code','LeavDt':'date','GrupLn':'days'},inplace = True)
    
    sale2 = data2[['GrupCd','SaleYqt','EstmTotqt','SaleAm']]
    sale2.rename(columns={'GrupCd':'group_code','SaleYqt':'sell','EstmTotqt':'qty','SaleAm':'minprice'},inplace = True)
    
    base2 = data2[['GrupSnm','GrupCd','SubCdAnm','SignUpLink','ImgUrl']]
    base2['tour'] = 'orange'
    base2.rename(columns={'GrupSnm':'title','GrupCd':'group_code','tour':'agency_code','ImgUrl':'pic'},inplace = True)
    
    return date2,sale2,base2

In [15]:
date2,sale2,base2 = orange_tables()

e:\anacondax64\envs\py36\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
e:\anacondax64\envs\py36\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [16]:
date2.head()

     group_code        date  days WeekDay
0  TYO180913ITA  2018/09/13     5       四
1  AK1080913KQA  2018/09/13    10       四
2  EE1080914BRA  2018/09/14    10       五
3  AS0680915ZZA  2018/09/15     6       六
4  AN1080915QRA  2018/09/15    10       六

In [17]:
#將資料依需求篩選欄位，並將欄位名稱改為旅遊咖網頁使用名稱，最後將結果存入mysql

#date2 = data2[['GrupCd','LeavDt','GrupLn','WeekDay','PortNm']]
#date2.rename(columns={'GrupCd':'group_code','LeavDt':'date','GrupLn':'days'},inplace = True)

#date2.head()

In [18]:
#sql = (
#"""    CREATE TABLE `tour`.`date2` (
#
#  `group_code` VARCHAR(15) NOT NULL,
#  `date` VARCHAR(10)  NULL,
#  `days` INT NULL,
#  `WeekDay` VARCHAR(2),
#  PRIMARY KEY (`group_code`),
#  UNIQUE INDEX `group_code_UNIQUE` (`group_code` ASC) VISIBLE);"""
#)
#
#cursor.execute(sql)

In [19]:
#date2.to_sql(name='date2',con=engine,  if_exists = 'append', index=False)

In [20]:
#sale2 = data2[['GrupCd','SaleYqt','EstmTotqt','SaleAm']]
#sale2.rename(columns={'GrupCd':'group_code','SaleYqt':'sell','EstmTotqt':'qty','SaleAm':'minprice'},inplace = True)

#sale2.head()

In [21]:
#sql = (
#"""    CREATE TABLE `tour`.`sale2` (
#
#  `group_code` VARCHAR(15) NOT NULL,
#  `sell` INT NULL,
#  `qty` INT NULL,
#  `minprice` INT NULL,
#  PRIMARY KEY (`group_code`),
#  UNIQUE INDEX `group_code_UNIQUE` (`group_code` ASC) VISIBLE);"""
#)
#
#cursor.execute(sql)

In [22]:
#sale2.to_sql(name='sale2',con=engine,  if_exists = 'append', index=False)

In [23]:
#base2 = data2[['GrupSnm','GrupCd','SubCdAnm','SignUpLink','ImgUrl']]
#base2['tour'] = 'orange'
#base2.rename(columns={'GrupSnm':'title','GrupCd':'group_code','tour':'agency_code','ImgUrl':'pic'},inplace = True)

#base2.head()

In [24]:
#sql = (
#"""    CREATE  TABLE `tour`.`base2` (
#`ID`          int         NOT NULL AUTO_INCREMENT,
#  `title` VARCHAR(60)  NULL,
#  `group_code` VARCHAR(15) NULL,
#  `SubCdAnm` VARCHAR(2) NULL,
#  `SignUpLink` VARCHAR(5) NULL,
#  `pic` VARCHAR(100) NULL,
#  `agency_code` VARCHAR(12) NULL,
#  PRIMARY KEY (`ID`),
#  UNIQUE INDEX `ID_UNIQUE` (`ID` ASC) VISIBLE,
#  UNIQUE INDEX `group_code_UNIQUE` (`group_code` ASC) VISIBLE);"""
#)
#
#cursor.execute(sql)

In [25]:
#base2.to_sql(name='base2',con=engine,  if_exists = 'append', index=False)

In [31]:
href = data2['Url'][0]
href

'/EW/GO/GroupDetail.asp?prodCd=TYO180913ITA'

In [32]:
soup = getsoup_orange(href)
soup

<!--頁面參數設定-->
<!DOCTYPE html>

<html class="no-js">
<head>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta charset="utf-8"/>
<title>東京蝦拼半自助漫遊五日 2018/09/13 -澄心誠意澄果旅遊OrangeTour</title>
<link href="/eweb_asiantour/images/rwd_icon.png" rel="shortcut icon" type="image/x-icon"/>
<link href="/eweb_asiantour/images/rwd_icon.png" rel="bookmark" type="image/x-icon"/>
<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
<meta content="all" name="Robots">
<meta content="index,follow" name="Googlebot">
<meta content="no-cache" http-equiv="Pragma"/>
<meta content="_top" http-equiv="windows-Target"/>
<meta content="7 days" name="revisit-after"/>
<meta content="" name="description"/>
<meta content="" name="keywords"/>
<meta content="/eWeb_asiantour/IMGDB/000002/000003/00000380.JPG" property="og:image"/>
<meta content="東京蝦拼半自助漫遊五日" property="og:title"/>
<meta content="http://www.orangetour.com.tw/ew/go/groupdetail.asp?prodcd=tyo180913ita" property="og:url"/>
<meta content="" property="og:description"/>
<meta content="" property="fb:app_id">
<link href="/eweb_asiantour/css/reset.css" rel="stylesheet" type="text/css"/>
<link href="/eweb_asiantour/css/normalize.css" rel="stylesheet" type="text/css"/>
<link href="/eweb_asiantour/css/bootstrap.css" rel="stylesheet" type="text/css"/>
<link href="/eweb_asiantour/css/bootstrap-datetimepicker.min.css" media="screen" rel="stylesheet" type="text/css"/>
<link href="/eweb_asiantour/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="/eweb_asiantour/css/main.css" rel="stylesheet" type="text/css"/>
<link href="/eweb_asiantour/css/default.css" rel="stylesheet" type="text/css"/>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn’t work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<link href="/eweb_asiantour/css/animations.css" rel="stylesheet" type="text/css"/>
<link href="/eweb_asiantour/css/loaders.css" rel="stylesheet" type="text/css">
<link href="https://vsn4ik.github.io/bootstrap-submenu/dist/css/bootstrap-submenu.min.css" rel="stylesheet"/>
<script type="text/javascript">
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-46675758-1', 'auto');
ga('send', 'pageview');
</script>
</link></meta></meta></meta></head>
<body>
<!--fb區塊-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.10";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.8&appId=116456551778811";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- Loader動畫
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div> -->
<!-- Loader動畫 -->
<div class="wrapper">
<!--上標-->
<article class="header">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-110604626-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-110604626-1');
</script>
<link href="/eweb_asiantour/css/default_orange.css" rel="stylesheet" type="text/css"/>
<link href="/eweb_asiantour/RWD/css/default.css" rel="stylesheet" type="text/css"/>
<link href="/eweb_asiantour/css/bootstrap-submenu.css" rel="stylesheet"/>
<script defer="" src="/eweb_asiantour/js/dist/bootstrap-submenu.min.js"></script>
<script defer="" src="/eweb_asiantour/js/docs.js"></script>
<!--<script src="https://vsn4ik.github.io/bootstrap-submenu/dist/js/bootstrap-submenu.js" defer></script>
<script src="http://demo.sc.chinaz.com//Files/DownLoad/webjs1/201607/jiaoben4385/js/pic_tab.js"></script>-->
<script>
$('[data-submenu]').submenupicker();
</script>
</head>
<nav class="navbar navbar-fixed-top navbar-inverse" id="top">
<div class="navbar-header">
<button class="navbar-toggle pull-left" data-target-content=".side-collapse-container-left" data-target-sidebar=".side-collapse-left" data-toggle="collapse-side" type="button">
<a class="nav-btn" href="#nav" id="nav-open-btn"></a>
</button>
<h2 class="block-title">
<a href="/eweb_asiantour/index.asp">
<img class="web_title_logo" src="/eweb_asiantour/images/top_images/logo.png"/>
<img class="mobile_title_logo" src="/eweb_asiantour/images/top_images/mobile_logo.png"/>
</a>
<!--<a class="navbar-brand" href="#">Design</a>-->
</h2>
</div>
<div class="navbar-inverse side-collapse-left in">
<nav class="navbar-collapse" id="nav" role="navigation">
<div class="mobile_logo"><img src="/eweb_asiantour/images/top_images/mobile_logo.png"/></div>
<ul class="nav navbar-nav navbar-left" id="demo-1">
<li class="dropdown">
<a data-submenu="" data-toggle="dropdown" href="javascript:;" tabindex="0">
<img src="/eweb_asiantour/images/top_images/top_01.png"/>
<p>Tour</p>
<p>團體旅遊</p>
</a>
<ul class="top_group dropdown-menu">
<li class="dropdown dropright dropdown-submenu">
<a href="javascript:;" tabindex="0"><h3>歐洲長程</h3></a>
<ul class="dropdown-menu">
<li class="group_title dropdown dropright dropdown-submenu">
<a href="javascript:;" tabindex="0">東 歐</a>
<ul class="dropdown-menu">
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/europe.asp">克/斯/蒙/波</a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/europe.asp">奧/捷/斯/匈</a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/europe.asp">俄/波蘭/波羅地海</a>
</li>
</ul>
</li>
<li class="group_title dropdown-submenu">
<a href="javascript:;">南 歐</a>
<ul class="dropdown-menu">
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/s_europe.asp">西班牙</a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/s_europe.asp">西班牙/葡萄牙</a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/s_europe.asp">西班牙/葡萄牙/摩洛哥</a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/s_europe.asp">希臘</a>
</li>
</ul>
</li>
<li class="group_title dropdown-submenu">
<a href="javascript:;">中西歐</a>
<ul class="dropdown-menu">
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/c_europe.asp">義大利</a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/c_europe.asp">法國/荷蘭/比利時</a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/c_europe.asp">德國/瑞士</a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/c_europe.asp">英格蘭/愛爾蘭</a>
</li>
</ul>
</li>
<li class="group_title dropdown-submenu">
<a href="javascript:;">北 歐</a>
<ul class="dropdown-menu">
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/n_europe.asp">北歐多國</a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/n_europe.asp">北歐郵輪</a>
</li>
</ul>
</li>
</ul>
</li>
<li class="dropdown-submenu">
<a href="javascript:;"><h3>美 加</h3></a>
<ul class="dropdown-menu">
<li class="group_title dropdown-item">
<a href="/eWeb_asiantour/page/usa_can.asp">美國/加拿大</a>
</li>
<li class="group_title dropdown-item">
<a href="/eWeb_asiantour/page/usa_can.asp">夏威夷</a>
</li>
</ul>
</li>
<li class="dropdown-submenu">
<a href="javascript:;"><h3>大洋洲</h3></a>
<ul class="dropdown-menu">
<li class="group_title dropdown-item">
<a href="/eWeb_asiantour/page/Oceania.asp">紐西蘭</a>
</li>
<li class="group_title dropdown-item">
<a href="/eWeb_asiantour/page/Oceania.asp">澳洲</a>
</li>
</ul>
</li>
<li class="dropdown-submenu">
<a href="javascript:;"><h3>中東非洲</h3></a>
<ul class="dropdown-menu">
<li class="group_title dropdown-item">
<a href="/eWeb_asiantour/page/africa.asp">土耳其</a>
</li>
<li class="group_title dropdown-item">
<a href="/eWeb_asiantour/page/africa.asp">埃及</a>
</li>
<li class="group_title dropdown-item">
<a href="/eWeb_asiantour/page/africa.asp">摩洛哥</a>
</li>
<li class="group_title dropdown-item">
<a href="/eWeb_asiantour/page/africa.asp">肯亞</a>
</li>
<li class="group_title dropdown-item">
<a href="/eWeb_asiantour/page/africa.asp">杜拜</a>
</li>
<li class="group_title dropdown-item">
<a href="/eWeb_asiantour/page/africa.asp">伊朗</a>
</li>
</ul>
</li>
<li class="dropdown-submenu">
<a href="#"><h3>豪華郵輪</h3></a>
<ul class="dropdown-menu">
<li class="group_title dropdown-submenu">
<a href="javascript:;">皇家加勒比郵輪</a>
<ul class="dropdown-menu">
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/cruises.asp">加勒比海</a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/cruises.asp">阿拉斯加</a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/cruises.asp">歐洲郵輪</a>
</li>
</ul>
</li>
<li class="group_title dropdown-submenu">
<a href="javascript:;">亞洲郵輪</a>
<ul class="dropdown-menu">
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/cruises_asian.asp">海洋量子號</a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/cruises_asian.asp">海洋水手號</a>
</li>
</ul>
</li>
</ul>
</li>
<li class="dropdown-submenu">
<a href="#"><h3>中國</h3></a>
<ul class="dropdown-menu">
<li class="group_title dropdown-submenu">
<a href="javascript:;">華東</a>
<ul class="dropdown-menu">
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/china.asp">江南‧上海</a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/china.asp">杭州</a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/china.asp">南京</a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/china.asp">黃山</a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/china.asp">山東</a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/china.asp">福建</a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/china.asp">江西</a>
</li>
</ul>
</li>
<li class="group_title dropdown-submenu">
<a href="javascript:;">華北</a>
<ul class="dropdown-menu">
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/china_nc.asp">北京/天津/承德</a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/china_nc.asp">山西/內蒙</a>
</li>
</ul>
</li>
<li class="group_title dropdown-submenu">
<a href="javascript:;">中南</a>
<ul class="dropdown-menu">
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/china_cc.asp">河南</a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/china_cc.asp">張家界</a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/china_cc.asp">湖南</a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/china_cc.asp">三峽</a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/china_cc.asp">桂林</a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/china_cc.asp">海南島</a>
</li>
</ul>
</li>
<li class="group_title dropdown-submenu">
<a href="javascript:;">西北</a>
<ul class="dropdown-menu">
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/china_nw.asp">新疆</a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/china_nw.asp">甘肅</a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/china_nw.asp">絲路</a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/china_nw.asp">寧夏</a>
</li>
</ul>
</li>
<li class="group_title dropdown-submenu">
<a href="javascript:;">西南</a>
<ul class="dropdown-menu">
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/china_sw.asp">西藏</a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/china_sw.asp">雲南(昆大麗)</a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/china_sw.asp">四川(九寨溝)</a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/china_sw.asp">貴州</a>
</li>
</ul>
</li>
<li class="group_title dropdown-submenu">
<a href="javascript:;">東北</a>
<ul class="dropdown-menu">
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/china_ne.asp">東北三省</a>
</li>
</ul>
</li>
<li class="group_title dropdown-submenu">
<a href="javascript:;">港澳珠圳</a>
<ul class="dropdown-menu">
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/china_hk.asp">港澳珠圳</a>
</li>
</ul>
</li>
</ul>
</li>
<li class="dropdown-submenu">
<a href="#"><h3>東南亞</h3></a>
<ul class="dropdown-menu">
<li class="group_title dropdown-item">
<a href="/eWeb_asiantour/page/s_asain.asp">泰國</a>
</li>
<li class="group_title dropdown-item">
<a href="/eWeb_asiantour/page/s_asain.asp">普吉島</a>
</li>
<li class="group_title dropdown-item">
<a href="/eWeb_asiantour/page/s_asain.asp">馬來西亞/新加坡/沙巴</a>
</li>
<li class="group_title dropdown-item">
<a href="/eWeb_asiantour/page/s_asain.asp">高雄出發</a>
</li>
</ul>
</li>
<li class="dropdown-submenu">
<a href="#"><h3>東北亞</h3></a>
<ul class="dropdown-menu">
<li class="group_title dropdown-submenu">
<a href="javascript:;">日本</a>
<ul class="dropdown-menu">
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/n_asian.asp">東京</a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/n_asian.asp">大阪</a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/n_asian.asp">九州</a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/n_asian.asp">北海道</a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/n_asian.asp">沖繩</a>
</li>
</ul>
</li>
<li class="group_title dropdown-submenu">
<a href="javascript:;">韓國</a>
<ul class="dropdown-menu">
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/n_asian_ko.asp">仁川</a>
</li>
</ul>
</li>
<li class="group_title dropdown-item">
<a href="https://s3-ap-northeast-1.amazonaws.com/supertrip/japan/Orangetour.html" target="_blank">SuperJapan</a>
</li>
<li class="group_title dropdown-item">
<a href="https://s3-ap-northeast-1.amazonaws.com/supertrip/korea/Orangetour.html" target="_blank">SuperKorea</a>
</li>
</ul>
</li>
</ul>
</li>
<li>
<a href="javascript:;">
<img src="/eweb_asiantour/images/top_images/top_03.png"/>
<p>Theme Tour</p>
<p>主題旅遊</p>
</a>
</li>
<li>
<a href="javascript:;">
<img src="/eweb_asiantour/images/top_images/top_07.png"/>
<p>Incentive Tour</p>
<p>福委專區</p>
</a>
</li>
<li class="dropdown">
<a data-submenu="" data-toggle="dropdown" href="javascript:;" tabindex="0">
<img src="/eweb_asiantour/images/top_images/top_02.png"/>
<p>Backpack</p>
<p>自由行</p>
</a>
<ul class="top_group dropdown-menu">
<li class="dropdown-submenu">
<a href="#"><h3>自由行程</h3></a>
<ul class="dropdown-menu">
<li class="group_title dropdown-submenu">
<a href="javascript:;">香港自由行</a>
<ul class="dropdown-menu">
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/free_asian.asp">九龍區</a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/free_asian.asp">港島區</a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/free_asian.asp">高雄出發</a>
</li>
</ul>
</li>
<li class="group_title dropdown-submenu">
<a href="javascript:;">澳門自由行</a>
<ul class="dropdown-menu">
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/free_asian_ma.asp">澳門自由行</a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/free_asian_ma.asp">高雄出發</a>
</li>
</ul>
</li>
<li class="group_title dropdown-submenu">
<a href="javascript:;">東南亞自由行</a>
<ul class="dropdown-menu">
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/free_asian_s.asp">泰國</a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/free_asian_s.asp">新加坡</a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/free_asian_s.asp">高雄出發</a>
</li>
</ul>
</li>
<li class="group_title dropdown-submenu">
<a href="javascript:;">東北亞自由行</a>
<ul class="dropdown-menu">
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/free_asian_n.asp">沖繩</a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/free_asian_n.asp">東京</a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/free_asian_n.asp">大阪</a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/free_asian_n.asp">九州</a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/free_asian_n.asp">首爾</a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/free_asian_n.asp">高雄出發</a>
</li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
<li class="dropdown">
<a data-submenu="" data-toggle="dropdown" href="javascript:;" tabindex="0">
<img src="/eweb_asiantour/images/top_images/top_04.png"/>
<p>Information</p>
<p>旅遊資訊</p>
</a>
<ul class="top_group dropdown-menu">
<li class="dropdown-item">
<a href="http://www.cwb.gov.tw/V7/forecast/world/world_aa.htm" target="_blank"><h3>旅遊天氣</h3></a>
</li>
<li class="dropdown-item">
<a href="http://rate.bot.com.tw/xrt?Lang=zh-TW" target="_blank"><h3>各國匯率</h3></a>
</li>
<li class="dropdown-item">
<a href="javascript:;"><h3>專業領隊</h3></a>
</li>
<li class="dropdown-item">
<a href="http://www.orangetour.com.tw/eWeb_asiantour/inform.asp" target="_blank"><h3>澄客講座</h3></a>
</li>
<li class="dropdown-item">
<a href="http://www.orangetour.com.tw/eWeb_asiantour/active.asp" target="_blank"><h3>活動專區</h3></a>
</li>
</ul>
</li>
<li class="dropdown">
<a data-submenu="" data-toggle="dropdown" href="javascript:;" tabindex="0">
<img src="/eweb_asiantour/images/top_images/top_05.png"/>
<p>About</p>
<p>關於澄果</p>
</a>
<ul class="top_group dropdown-menu">
<li class="dropdown-item">
<a href="/eWeb_asiantour/about_us.asp#module_content_01"><h3>經營理念</h3></a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/about_us.asp#module_content_02"><h3>歷年事紀</h3></a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/about_us.asp#module_content_03"><h3>合作夥伴</h3></a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/page/hr.asp"><h3>菁英招募</h3></a>
</li>
<li class="dropdown-item">
<a href="/eWeb_asiantour/tour_photo_RWD.asp"><h3>旅遊剪影</h3></a>
</li>
</ul>
</li>
<li class="dropdown mobile_contact">
<a data-submenu="" data-toggle="dropdown" href="javascript:;" tabindex="0">
<img src="/eweb_asiantour/images/top_images/top_06.png"/>
<p>Contact Us</p>
<p>聯絡我們</p>
</a>
<ul class="top_group dropdown-menu">
<li>
<a class="mobile_fb" href="https://www.facebook.com/orangetourtpe/"><h3><img src="/eweb_asiantour/images/top_images/facebook-02.png"/>Facebook</h3></a>
</li>
<li>
<a class="mobile_line" href="http://line.naver.jp/ti/p/@uqk8084n"><h3><img src="/eweb_asiantour/images/top_images/line-01-m.png"/>台北</h3></a>
<a class="mobile_line" href="https://line.me/R/ti/p/P9IjNdMyFa"><h3><img src="/eweb_asiantour/images/top_images/line-01-m.png"/>台南</h3></a>
</li>
<li>
<a class="mobile_email" href="mailto:orangetour@orangetour.com.tw"><h3>客服專員(Email)</h3></a>
</li>
<li>
<a class="mobile_phone" href="tel:0225077333"><h3><img src="/eweb_asiantour/images/top_images/phone-m.png"/>台北</h3></a>
<a class="mobile_phone" href="tel:062086800"><h3><img src="/eweb_asiantour/images/top_images/phone-m.png"/>台南</h3></a>
</li>
</ul>
</li>
<li class="web_contact">
<a href="/eWeb_asiantour/ContactUS/N_contact.asp">
<img src="/eweb_asiantour/images/top_images/top_06.png"/>
<p>Contact Us</p>
<p>聯絡我們</p>
</a>
</li>
<li>
<ul class="login_top">
<li><a href="/eWeb/Member/Member.asp">會員登入</a></li>
<li><a href="/eWeb/Member_AGT/Member.asp">同業登入</a></li>
<li><a href="/eWeb/Member/Member.asp?inc=regist">加入會員</a></li>
<li><a href="/eWeb/Member/Member.asp">會員專區</a></li>
</ul>
<div class="top_search">
<iframe allowtransparency="true" frameborder="no" height="35" hspace="0" marginheight="0" marginwidth="0" scrolling="no" src="/eWeb_asiantour/module/GroupSearch_header.asp" style="" vspace="0" width="280"></iframe>
</div>
</li>
<li>
<ul class="fbline_top">

In [33]:
air = getair_orange(soup)
air

   0   1       2       3                 4       5                 6
0  1  虎航  IT8218  桃園國際機場  2018/09/13 09:30    茨城機場  2018/09/13 14:00
0  5  虎航  IT8219    茨城機場  2018/09/17 15:00  桃園國際機場  2018/09/17 17:30

In [34]:
tour = gettour_orange(soup)
tour

,0,1,2,3,4,5,6
0,第1天,台北（桃園國際機場）→茨城空港→千波湖→日本三大名園【水戶偕樂園】→茨城,X,機上精緻簡餐,居酒屋風味料理或日式和膳套餐,茨城 水戶廣場 或 水戶大和ROYNET 或 水戶京成 或 HOTEL THE WEST H...,今日集合於台灣桃園國際機場，搭乘豪華客機飛往日本茨城機場，在導遊的帶領下順序出關。位於日本本...
0,第2天,漂浮在太平洋上的絕美玻璃屋車站【日立車站】→隨四季變幻的繽紛花卉物語【日立常陸海濱公園】～粉...,飯店內早餐,鄉土御膳料理或日式和膳套餐,方便逛街～敬請自理,東京或千葉或橫濱 千葉CANDEO 或 舞濱歐亞 或 上野CANDEO 或 幕張APA 或 ...,【絕美玻璃屋車站．日立車站】世界最美的車站「日立車站」座落於日本茨城縣，由日立市出身的著名建...
0,第3天,【東京全日自由活動】或【迪士尼樂園一日遊加價購】或【箱根黃金路線一日遊加價購】\r,飯店內早餐,方便遊玩～敬請自理,方便遊玩～敬請自理,東京或千葉或橫濱 千葉CANDEO 或 舞濱歐亞 或 上野CANDEO 或 幕張APA 或 ...,Ａ.【東京全日自由活動】放鬆心情 盡情玩樂Shopping(自費前往)建議行程：(1)有樂町...
0,第4天,享受一個沒有Monming Call的早晨，全日自由活動～放鬆心情 盡情玩樂Shopping \r,飯店內(簡易)早餐,方便自由遊玩～敬請自理,方便自由遊玩～敬請自理,東京或千葉或橫濱 千葉CANDEO 或 舞濱歐亞 或 上野CANDEO 或 幕張APA 或 ...,(建議自費前往)：「銀座」從戰前以來，就一直以繁華鬧街而聞名。有許多百貨公司和高級名牌精品店...
0,第5天,三大稻荷神社【笠間稻荷神社】～5月花現400年大藤、八重藤風貌→【阿見Outlet暢貨中心】...,飯店內早餐,機上精緻簡餐,X,溫暖的家,【笠間稻荷神社】位於茨城縣笠間市的笠間稻荷神社，創建於661年，已有1400年的歷史，與京都...

In [37]:
tour2 ,fly2 ,loc2 = orange_travel(soup)
tour2

,day,travel,breakfast,lunch,dinner,sleep,content,group_code
0,第1天,台北（桃園國際機場）→茨城空港→千波湖→日本三大名園【水戶偕樂園】→茨城,X,機上精緻簡餐,居酒屋風味料理或日式和膳套餐,茨城 水戶廣場 或 水戶大和ROYNET 或 水戶京成 或 HOTEL THE WEST H...,今日集合於台灣桃園國際機場，搭乘豪華客機飛往日本茨城機場，在導遊的帶領下順序出關。位於日本本...,TYO180913ITA
0,第2天,漂浮在太平洋上的絕美玻璃屋車站【日立車站】→隨四季變幻的繽紛花卉物語【日立常陸海濱公園】～粉...,飯店內早餐,鄉土御膳料理或日式和膳套餐,方便逛街～敬請自理,東京或千葉或橫濱 千葉CANDEO 或 舞濱歐亞 或 上野CANDEO 或 幕張APA 或 ...,【絕美玻璃屋車站．日立車站】世界最美的車站「日立車站」座落於日本茨城縣，由日立市出身的著名建...,TYO180913ITA
0,第3天,【東京全日自由活動】或【迪士尼樂園一日遊加價購】或【箱根黃金路線一日遊加價購】\r,飯店內早餐,方便遊玩～敬請自理,方便遊玩～敬請自理,東京或千葉或橫濱 千葉CANDEO 或 舞濱歐亞 或 上野CANDEO 或 幕張APA 或 ...,Ａ.【東京全日自由活動】放鬆心情 盡情玩樂Shopping(自費前往)建議行程：(1)有樂町...,TYO180913ITA
0,第4天,享受一個沒有Monming Call的早晨，全日自由活動～放鬆心情 盡情玩樂Shopping \r,飯店內(簡易)早餐,方便自由遊玩～敬請自理,方便自由遊玩～敬請自理,東京或千葉或橫濱 千葉CANDEO 或 舞濱歐亞 或 上野CANDEO 或 幕張APA 或 ...,(建議自費前往)：「銀座」從戰前以來，就一直以繁華鬧街而聞名。有許多百貨公司和高級名牌精品店...,TYO180913ITA
0,第5天,三大稻荷神社【笠間稻荷神社】～5月花現400年大藤、八重藤風貌→【阿見Outlet暢貨中心】...,飯店內早餐,機上精緻簡餐,X,溫暖的家,【笠間稻荷神社】位於茨城縣笠間市的笠間稻荷神社，創建於661年，已有1400年的歷史，與京都...,TYO180913ITA

In [26]:
def getsoup_orange(href=''):
    base = 'http://www.orangetour.com.tw'
    url = base+href
    res = requests.get(url)
    res.encoding = 'utf8'
    soup = BeautifulSoup(res.text,'html.parser')
    return soup

In [27]:
def getair_orange(soup):
    soup=soup
    air = pd.DataFrame()
    n = 1
    if len(soup.select('#ReferenceFlights')[0].find_all('ul')) > 1:
        break
    while n < len(soup.select('#ReferenceFlights')[0].find_all('ul')):

        airlist=[]
        for a in soup.select('#ReferenceFlights')[0].find_all('ul')[n].find_all('li'):
            airlist.append(a.text)
        df = pd.DataFrame([airlist])
        air = pd.concat([air,df])    
        n +=1

    return air

In [28]:
def gettour_orange(soup):
    soup = soup
    tour = pd.DataFrame()
    days = int((len(soup.select('#DailyItinerary_accordion')[0])-1)/2)
    n = 1
    while n <= days:
        day = soup.select('#DailyItinerary_heading_'+str(n)+' > div > a > h4.col-xs-12.col-sm-12.col-md-1.col-lg-1.day_title_left > span.tw_day')[0].text
        a = soup.select('#DailyItinerary_heading_'+str(n)+' > div > a > h4.col-xs-12.col-sm-12.col-md-11.col-lg-11.day_title_right')[0].text
        b = re.search(r'\S.+',a)
        travel = b.group(0)
        try:
            sleep0 = soup.select('#DailyItinerary_collapse_'+str(n)+' > div > div.col-xs-12.col-sm-12.col-md-6.col-lg-6.day_hotel > p')[0].text
        except IndexError:
            sleep0 = " "
        breakfast0 = soup.select('#DailyItinerary_collapse_'+str(n)+' > div > div.col-xs-12.col-sm-12.col-md-6.col-lg-6.day_meal > div > dl')[0].find_all('dd')[0].text.split(' ')[-1]
        lunch0 = soup.select('#DailyItinerary_collapse_'+str(n)+' > div > div.col-xs-12.col-sm-12.col-md-6.col-lg-6.day_meal > div > dl')[0].find_all('dd')[1].text.split(' ')[-1]
        dinner0 = soup.select('#DailyItinerary_collapse_'+str(n)+' > div > div.col-xs-12.col-sm-12.col-md-6.col-lg-6.day_meal > div > dl')[0].find_all('dd')[2].text.split(' ')[-1]
        try:
            a = soup.select('#DailyItinerary_collapse_'+str(n)+' > div > div.col-xs-12.col-sm-12.col-md-12.col-lg-12.day_content')[0].text
            b = re.search(r'\S.+',a)
            content0 = b.group(0)
        except AttributeError:
            content0 = " "

        df = pd.DataFrame([[day,travel,breakfast0,lunch0,dinner0,sleep0,content0]])

#        df2 = pd.DataFrame()
        tour = pd.concat([tour,df])
        n += 1    
    return tour

In [36]:
def orange_travel(soup):
    soup=soup
#    days = int((len(soup.select('#DailyItinerary_accordion')[0])-1)/2)
#    print(days,end=",")
    location = soup.select('body > div.wrapper > article.container.Detail > div > ol > li.active > a')[0].text
    area = soup.select('body > div.wrapper > article.container.Detail > div > ol > li')[2].text
    a = soup.select('#Main > div > div.col-xs-12.col-sm-12.col-md-12.col-lg-12.number_status')[0].text
    b = re.search(r'\S+',a)
    group_code = b.group(0).split('：')[-1]
    
    tour = gettour_orange(soup) 
    tour.columns = ['day','travel','breakfast','lunch','dinner','sleep','content']
    tour['group_code']=group_code
    fly = getair_orange(soup)
    fly.columns = ['day','aircompany','flight','starting','time0','destination','time1']
    fly['group_code']=group_code
    
    loc = pd.DataFrame([[group_code,location,area]],columns=['group_code','location','area'])
    return tour ,fly ,loc

In [39]:
def orange_detail():
    travel = pd.DataFrame()
    flight = pd.DataFrame()
    area = pd.DataFrame()
    hlist = data2['Url']
    time.sleep(5)
    n = 1
    for href in hlist:
        try:
            hsoup = getsoup_orange(href)
        except: #商品可能下架
            print(href,'，discon')
            continue
        try:
            time.sleep(0.1)
            tour,fly,loc = orange_travel(hsoup)
            travel = pd.concat([travel,tour])
            flight = pd.concat([flight,fly])
            area = pd.concat([area,loc])
        except : 
            print(href)
#            continue
        finally:
            if n % 10 == 0:
                print(n,end=",")
            n += 1
    return travel,flight,area

In [40]:
travel2,flight2,area2 = orange_detail()

10,20,30,/EW/GO/GroupDetail.asp?prodCd=DEL08180930A&sacctNo=84262490
40,50,60,70,80,90,100,110,120,130,140,150,160,170,180,190,200,210,220,230,240,250,260,270,280,290,300,310,320,330,340,350,360,370,380,390,400,410,420,430,440,450,460,470,/EW/GO/GroupDetail.asp?prodCd=MFM991231BRK
/EW/GO/GroupDetail.asp?prodCd=HGH991231AEK
/EW/GO/GroupDetail.asp?prodCd=HAN991231B7K
/EW/GO/GroupDetail.asp?prodCd=TXN991231AEK
/EW/GO/GroupDetail.asp?prodCd=CTU991231FEK

In [44]:
#############################分隔線  ##############################

In [45]:
def gloriares (p = 1):

    url = 'https://www.gloriatour.com.tw/EW/Services/SearchListData.asp'
    page = p
    #headers = {'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/68.0.3440.106 Safari/537.36'}
    payload={
        'displayType': 'G',
    #    'subCd': 
        'orderCd': '1',
        'pageALL': str(page),
        'pageGO': '1',
        'pagePGO': '1',
        'waitData': 'false',
        'waitPage': 'false',
    #    'mGrupCd': 
    #    'SrcCls': 
    #    'tabList': 
    #    'regmCd': 
    #    'regsCd': 
        'beginDt': str(datetime.now().strftime('%Y/%m/%d')),
        'endDt': '9999/12/31',#str(n_days.strftime('%Y/%m/%d')),
    #    'portCd': 
    #    'tdays': 
    #    'bjt': 
    #    'carr': 
        'allowJoin': '1',
        'allowWait': '1'
    #    'ikeyword': 
    }
    rs = requests.session()
    res = rs.post(url,data = payload)

    res.encoding = 'big5'
    return res

In [46]:
def gloriafp():
    url2 = 'https://www.gloriatour.com.tw/EW/GO/GroupList.asp'
    
    res2 = requests.get(url2,'html.parser')
    res2.encoding = 'utf-8'
    soup = BeautifulSoup(res2.text,'html.parser')
    a = soup.find_all('ul',{'class':'pagination'})[0].find_all('li',{'class':'next'})[-1].find('a')['onclick']
    fp = re.search(r'\d+',a)
    return int(fp.group(0))

In [47]:
gloriafp()

148

In [48]:
def gloria():
    data1 = pd.DataFrame()
    p = 1
    n=0
    total = 0
    fp = gloriafp()
    while True:
        res = gloriares(p)
        d = json.loads(res.text)
        d = d['All']
        
        for dd in d:
            df = pd.DataFrame([dd.values()])
            data1 = pd.concat([data1,df])
            
        total += len(d)
        print((p,total),end=",")
        
        if p == fp:
            break
            
        p += 1
        n += 1
        time.sleep(2)
    data1.columns = (d[0].keys())
    data1['SignUpLink'] = data1['SignUpLink'].apply(lambda x:x['Name'])
    data1.reset_index(inplace = True,drop = True)
    return data1

In [49]:
data1 = gloria()
data1.head()

(1, 20),(2, 40),(3, 60),(4, 80),(5, 100),(6, 120),(7, 140),(8, 160),(9, 180),(10, 200),(11, 220),(12, 240),(13, 260),(14, 280),(15, 300),(16, 320),(17, 340),(18, 360),(19, 380),(20, 400),(21, 420),(22, 440),(23, 460),(24, 480),(25, 500),(26, 520),(27, 540),(28, 560),(29, 580),(30, 600),(31, 620),(32, 640),(33, 660),(34, 680),(35, 700),(36, 720),(37, 740),(38, 760),(39, 780),(40, 800),(41, 820),(42, 840),(43, 860),(44, 880),(45, 900),(46, 920),(47, 940),(48, 960),(49, 980),(50, 1000),(51, 1020),(52, 1040),(53, 1060),(54, 1080),(55, 1100),(56, 1120),(57, 1140),(58, 1160),(59, 1180),(60, 1200),(61, 1220),(62, 1240),(63, 1260),(64, 1280),(65, 1300),(66, 1320),(67, 1340),(68, 1360),(69, 1380),(70, 1400),(71, 1420),(72, 1440),(73, 1460),(74, 1480),(75, 1500),(76, 1520),(77, 1540),(78, 1560),(79, 1580),(80, 1600),(81, 1620),(82, 1640),(83, 1660),(84, 1680),(85, 1700),(86, 1720),(87, 1740),(88, 1760),(89, 1780),(90, 1800),(91, 1820),(92, 1840),(93, 1860),(94, 1880),(95, 1900),(96, 1920),(97, 1940),(98, 1960),(99, 1980),(100, 2000),(101, 2020),(102, 2040),(103, 2060),(104, 2080),(105, 2100),(106, 2120),(107, 2140),(108, 2160),(109, 2180),(110, 2200),(111, 2220),(112, 2240),(113, 2260),(114, 2280),(115, 2300),(116, 2320),(117, 2340),(118, 2360),(119, 2380),(120, 2400),(121, 2420),(122, 2440),(123, 2460),(124, 2480),(125, 2500),(126, 2520),(127, 2540),(128, 2560),(129, 2580),(130, 2600),(131, 2620),(132, 2640),(133, 2660),(134, 2680),(135, 2700),(136, 2720),(137, 2740),(138, 2760),(139, 2780),(140, 2800),(141, 2820),(142, 2840),(143, 2860),(144, 2880),(145, 2900),(146, 2920),(147, 2940),(148, 2959),

,GrupCd,LeavDt,WeekDay,GrupSnm,ItnRk3S,EstmYqt,DoneYqt,SaleYqt,DordQt,EstmTotqt,...,SaleAm,AgtAm,GrupLn,SubCd,SubCdAnm,SortSq,Url,ShareUrl,SrcCls,ImgUrl
0,SELB4TW8913A,2018/09/13,四,∼每月促銷∼【精選釜慶】汗蒸幕體驗、佛國寺、泰迪熊博物館、天空步道、海洋博物館、太宗台、甘川...,,18,0,0,0,18,...,10499,10499,4,GO,團,7,/EW/GO/GroupDetail.asp?prodCd=SELB4TW8913A,https://www.gloriatour.com.tw/EW/GO/GroupDetai...,0,/eWeb_gloriatour/IMGDB/000012/000013/000589/00...
1,SELA5OZ8913A,2018/09/13,四,【戲雪趣】愛寶樂園、冰雪王國、單車樂活、童話村、時尚明洞、塗鴉秀５天,,20,0,0,0,20,...,12000,12000,5,GO,團,7,/EW/GO/GroupDetail.asp?prodCd=SELA5OZ8913A,https://www.gloriatour.com.tw/EW/GO/GroupDetai...,0,/eWeb_gloriatour/IMGDB/000012/000013/000589/00...
2,SELA5OZ8913C,2018/09/13,四,【花漾韓國】∼入住首爾市區飯店+升等五花飯店∼韓服體驗、愛寶樂園、冰雪樂園、光明洞窟、拌飯秀５天,,19,0,0,0,19,...,15000,15000,5,GO,團,7,/EW/GO/GroupDetail.asp?prodCd=SELA5OZ8913C,https://www.gloriatour.com.tw/EW/GO/GroupDetai...,0,/eWeb_gloriatour/IMGDB/000012/000013/000589/00...
3,SIND4CI8913A,2018/09/13,四,【線上旅展】就去新加坡玩吧自由輕鬆走四日遊【送環球影城門票＋園區餐券】(二人成行),,6,0,6,0,6,...,16500,16500,4,GO,團,7,/EW/GO/GroupDetail.asp?prodCd=SIND4CI8913A,https://www.gloriatour.com.tw/EW/GO/GroupDetai...,0,/eWeb_gloriatour/IMGDB/000012/000014/000811/00...
4,SELA5OZ8913B,2018/09/13,四,【童趣韓國】∼全程五花住宿＆不進人蔘寶肝店∼韓服漫遊、愛寶樂園、汗蒸幕、亂打秀５天,,16,0,0,0,16,...,20900,20900,5,GO,團,7,/EW/GO/GroupDetail.asp?prodCd=SELA5OZ8913B,https://www.gloriatour.com.tw/EW/GO/GroupDetai...,0,/eWeb_gloriatour/IMGDB/000012/000013/000589/00...

In [50]:
data1.loc[0]

GrupCd                                                  SELB4TW8913A
LeavDt                                                    2018/09/13
WeekDay                                                            四
GrupSnm            ∼每月促銷∼【精選釜慶】汗蒸幕體驗、佛國寺、泰迪熊博物館、天空步道、海洋博物館、太宗台、甘川...
ItnRk3S
EstmYqt                                                           18
DoneYqt                                                            0
SaleYqt                                                            0
DordQt                                                             0
EstmTotqt                                                         18
PortNm                                                      台北-桃園機場
FullSts                                                           額滿
RuleDr
SaleCd                                                             0
HotTp                                                              3
GordLk                                                         False
OrderDl                                                   2018/09/13
HtlOkFg                                                        False
AdvFg                                                          False
GuaranteeFg                                                    False
PromoteFg                                                      False
ApplyQt                                                          999
DepositQt                                                        999
NoDepositQt                                                        0
RqstQt                                                           999
SignUpLink                                                        候補
IsShowGuarantee                                                False
IsShowPromote                                                  False
IsShowHotTp                                                     True
HotTpNm                                                            滿
RecCnt                                                          2959
GoCnt                                                           2959
PgoCnt                                                             0
RowId                                                              1
SacctNo
MgrupCd                                                     SELB4-AB
SaleAm                                                         10499
AgtAm                                                          10499
GrupLn                                                             4
SubCd                                                             GO
SubCdAnm                                                           團
SortSq                                                             7
Url                       /EW/GO/GroupDetail.asp?prodCd=SELB4TW8913A
ShareUrl           https://www.gloriatour.com.tw/EW/GO/GroupDetai...
SrcCls                                                             0
ImgUrl             /eWeb_gloriatour/IMGDB/000012/000013/000589/00...
Name: 0, dtype: object

In [51]:
#date1 = data1[['GrupCd','LeavDt','GrupLn','WeekDay','PortNm']]
#date1.rename(columns={'GrupCd':'group_code','LeavDt':'date','GrupLn':'days'},inplace = True)

#date1.head()

In [52]:
#sql = (
#"""    CREATE TABLE `tour`.`date1` (
#
#  `group_code` VARCHAR(15) NOT NULL,
#  `date` VARCHAR(10)  NULL,
#  `days` INT NULL,
#  `WeekDay` VARCHAR(2),
#  PRIMARY KEY (`group_code`),
#  UNIQUE INDEX `group_code_UNIQUE` (`group_code` ASC) VISIBLE);"""
#)

#cursor.execute(sql)

In [53]:
#date1.to_sql(name='date1',con=engine,  if_exists = 'append', index=False)

In [54]:
#sale1 = data1[['GrupCd','SaleYqt','EstmTotqt','SaleAm']]
#sale1.rename(columns={'GrupCd':'group_code','SaleYqt':'sell','EstmTotqt':'qty','SaleAm':'minprice'},inplace = True)
#sale1.head()

In [55]:
#sql = (
#"""    CREATE TABLE `tour`.`sale1` (
#
#  `group_code` VARCHAR(15) NOT NULL,
#  `sell` INT NULL,
#  `qty` INT NULL,
#  `minprice` INT NULL,
#  PRIMARY KEY (`group_code`),
#  UNIQUE INDEX `group_code_UNIQUE` (`group_code` ASC) VISIBLE);"""
#)
#
#cursor.execute(sql)

In [56]:
#sale1.to_sql(name='sale1',con=engine,  if_exists = 'append', index=False)

In [57]:
#base1 = data1[['GrupSnm','GrupCd','SubCdAnm','SignUpLink','ImgUrl']]
#base1['tour'] = 'gloria'
#base1.rename(columns={'GrupSnm':'title','GrupCd':'group_code','tour':'agency_code','ImgUrl':'pic'},inplace = True)

#base1.head()

In [58]:
#sql = (
#"""    CREATE TABLE `tour`.`base1` (
#`ID`          int         NOT NULL AUTO_INCREMENT,
#  `title` VARCHAR(60)  NULL,
#  `group_code` VARCHAR(15) NULL,
#  `SubCdAnm` VARCHAR(2) NULL,
#  `SignUpLink` VARCHAR(5) NULL,
#  `pic` VARCHAR(100) NULL,
#  `agency_code` VARCHAR(12) NULL,
#  PRIMARY KEY (`ID`),
#  UNIQUE INDEX `ID_UNIQUE` (`ID` ASC) VISIBLE,
#  UNIQUE INDEX `group_code_UNIQUE` (`group_code` ASC) VISIBLE);"""
#)
#
#cursor.execute(sql)

In [59]:
#base1.to_sql(name='base1',con=engine,  if_exists = 'append', index=False)

In [60]:
def gloria_tables():
    date1 = data1[['GrupCd','LeavDt','GrupLn','WeekDay']]
    date1.rename(columns={'GrupCd':'group_code','LeavDt':'date','GrupLn':'days'},inplace = True)
    
    sale1 = data1[['GrupCd','SaleYqt','EstmTotqt','SaleAm']]
    sale1.rename(columns={'GrupCd':'group_code','SaleYqt':'sell','EstmTotqt':'qty','SaleAm':'minprice'},inplace = True)
    
    base1 = data1[['GrupSnm','GrupCd','SubCdAnm','SignUpLink','ImgUrl']]
    base1['tour'] = 'orange'
    base1.rename(columns={'GrupSnm':'title','GrupCd':'group_code','tour':'agency_code','ImgUrl':'pic'},inplace = True)
    
    return date1,sale1,base1

In [61]:
date1,sale1,base1 = gloria_tables()

e:\anacondax64\envs\py36\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
e:\anacondax64\envs\py36\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [62]:
def getsoup_gloria(href=''):
    base = 'http://www.gloriatour.com.tw'
    url = base+href
    res = requests.get(url)
    res.encoding = 'big5'
    soup = BeautifulSoup(res.text,'html.parser')
    return soup

In [63]:
def getair_gloria(soup):
    soup=soup
    air = pd.DataFrame()
    n= 0
    aircount = len(soup.select('#ReferenceFlights ')[0].find_all('ul',{'class':'flight_content'}))
    while n < aircount:
        airlist =[]
        for a in soup.select('#ReferenceFlights ')[0].find_all('ul',{'class':'flight_content'})[n].find_all('li'):
            airlist.append(a.text)
        df = pd.DataFrame([airlist])
        air = pd.concat([air,df])
        n += 1
    return air

In [ ]:
def gettour_gloria(soup):
    soup = soup
    days = int((len(soup.select('#DailyItinerary_accordion')[0])-1)/2)

    tour = pd.DataFrame()
    n = 1
    while n <= days:
        day = soup.select('#DailyItinerary_heading_'+str(n)+' > div > a > h4.col-xs-12.col-sm-12.col-md-1.col-lg-1.day_title_left > span.tw_day')[0].text
        travel = soup.select('#DailyItinerary_heading_'+str(n)+' > div > a > h4.col-xs-12.col-sm-12.col-md-11.col-lg-11.day_title_right')[0].text
        try:
            sleep0 = soup.select('#DailyItinerary_collapse_'+str(n)+' > div > div.col-xs-12.col-sm-12.col-md-6.col-lg-6.day_hotel > p')[0].text
        except IndexError:
            sleep0 = " "
        breakfast0 = soup.select('#DailyItinerary_collapse_'+str(n)+' > div > div.col-xs-12.col-sm-12.col-md-6.col-lg-6.day_meal > div > dl')[-1].find_all('dd')[0].text
        lunch0 = soup.select('#DailyItinerary_collapse_'+str(n)+' > div > div.col-xs-12.col-sm-12.col-md-6.col-lg-6.day_meal > div > dl')[-1].find_all('dd')[1].text
        dinner0 = soup.select('#DailyItinerary_collapse_'+str(n)+' > div > div.col-xs-12.col-sm-12.col-md-6.col-lg-6.day_meal > div > dl')[-1].find_all('dd')[2].text
        try:
            a = soup.select('#DailyItinerary_collapse_'+str(n)+' > div > div.col-xs-12.col-sm-12.col-md-12.col-lg-12.day_content')[0].text
            b = re.search(r'\S.+',a)
            content0 = b.group(0)
        except AttributeError:
            content0 = " "

        df = pd.DataFrame([[day,travel,breakfast0,lunch0,dinner0,sleep0,content0]])
#        df2 = pd.DataFrame()
        tour = pd.concat([tour,df])
        n += 1    
    return tour

In [64]:
def gloria_travel(soup):
    soup=soup
    

    location = soup.select('body > div.wrapper > article.container.Detail > div > ol > li')[-1].text
    area = soup.select('body > div.wrapper > article.container.Detail > div > ol > li')[-2].text
    a = soup.select('#Main > div ')[0].find_all('div',{'class':'col-xs-12 col-sm-12 col-md-12 col-lg-12 number_status'})[0].text
    b = re.search(r'\S+',a)
    group_code = b.group(0).split('：')[-1]
    
    
#    days = int((len(soup.select('#DailyItinerary_accordion')[0])-1)/2)
    tour = gettour_orange(soup) 
    tour.columns = ['day','travel','breakfast','lunch','dinner','sleep','content']
    tour['group_code']=group_code

    
    fly = getair_gloria(soup)
    fly.columns = ['day','aircompany','flight','starting','time0','destination','time1']
    fly['group_code']=group_code
    
    loc = pd.DataFrame([[group_code,location,area]],columns=['group_code','location','area'])
    return tour ,fly ,loc

In [65]:
def gloria_detail():
    travel = pd.DataFrame()
    flight = pd.DataFrame()
    area = pd.DataFrame()
    hlist = data1['Url']
    time.sleep(5)
    n = 1
    for href in hlist:


        if getsoup_gloria(href).text == getsoup_gloria('/EW/GO/GroupDetail.asp?prodCd=TYO180913ITA').text:
            print(href,'discon')
            continue
            
        hsoup = getsoup_gloria(href)
        try:
            time.sleep(0.1)
            tour,fly,loc = gloria_travel(hsoup)
            travel = pd.concat([travel,tour])
            flight = pd.concat([flight,fly])
            area = pd.concat([area,loc])
        except : 
            print(href)
            continue
        finally:
            if n % 10 == 0:
                print(n,end=",")
            n += 1
    return travel,flight,area

In [66]:
#travel.head()

In [67]:
#flight.head()

In [68]:
#area.head()

In [69]:
#########################  分隔線  ###################################

In [70]:
#由 mysql 讀取資料
sql  =  ('SELECT * FROM tour.base2;')
base2 =  getsqldata()
base2.head()

,ID,title,group_code,SubCdAnm,SignUpLink,pic,agency_code
0,1,品味法拉利 南北義 龐貝 藍洞 OUTLET 10天,EW1080909QRA,團,報名,/eWeb_asiantour/IMGDB/000000/00005642.JPG,orange
1,2,浪漫愛琴海雙島：聖托里尼、米克諾斯、天空之城、諸神的故鄉、希臘10天之旅,ES1080909CAA,團,請電洽,/eweb_asiantour/images/default_demo.jpg,orange
2,3,Hello! 長榮荷德比法 3遊船 OUTLET 10天,EW1080901BRA,團,候補,/eweb_asiantour/images/default_demo.jpg,orange
3,4,親子水陸雙樂園5日,ICN180912KEB,團,報名,/eWeb_asiantour/IMGDB/000126/00003008.JPG,orange
4,5,哈韓94狂～超人氣三大主題5日,ICN180912KEA,團,報名,/eweb_asiantour/images/default_demo.jpg,orange

In [71]:
sql  =  ('SELECT * FROM tour.sale2;')
sale2 =  getsqldata()
sale2.head()

     group_code  sell  qty  minprice
0  0BKK181030IT    20   20     11900
1  0BKK181113IT    20   20     11900
2  0BKK181127IT    20   20     11900
3  0BKK181211IT    20   20     11900
4  0BKK181225IT    20   20     11900

In [72]:
sql  =  ('SELECT * FROM tour.date2;')
date2 =  getsqldata()
date2.head()

     group_code        date  days WeekDay
0  0BKK181030IT  2018/10/30     5       二
1  0BKK181113IT  2018/11/13     5       二
2  0BKK181127IT  2018/11/27     5       二
3  0BKK181211IT  2018/12/11     5       二
4  0BKK181225IT  2018/12/25     5       二

In [73]:
table2 = base2.merge(date2,on='group_code')
table2 = table2.merge(sale2,on='group_code')
table2.head()

,ID,title,group_code,SubCdAnm,SignUpLink,pic,agency_code,date,days,WeekDay,sell,qty,minprice
0,6,東京蝦拼半自助漫遊五日,TYO180913ITA,團,報名,/eWeb_asiantour/IMGDB/000002/000003/00000380.JPG,orange,2018/09/13,5,四,15,16,21999
1,7,肯亞 野性呼喚10天 非洲王子系列,AK1080913KQA,團,報名,/eweb_asiantour/images/default_demo.jpg,orange,2018/09/13,10,四,12,13,159900
2,8,奧捷雙國、米其林、湖區、古堡、遊船、雙登塔10天(長榮直飛),EE1080914BRA,團,報名,/eweb_asiantour/images/default_demo.jpg,orange,2018/09/14,10,五,25,26,62900
3,9,小資奇幻極光 4+1晚 2次遇見極光,AS0680915ZZA,團,報名,/eweb_asiantour/images/default_demo.jpg,orange,2018/09/15,6,六,4,4,17900
4,10,摩洛哥 10天 卡薩布蘭、卡四大皇城、撒哈拉沙漠、阿班哈杜,AN1080915QRA,團,候補,/eweb_asiantour/images/default_demo.jpg,orange,2018/09/15,10,六,0,26,69900

In [74]:
date2.head()

     group_code        date  days WeekDay
0  0BKK181030IT  2018/10/30     5       二
1  0BKK181113IT  2018/11/13     5       二
2  0BKK181127IT  2018/11/27     5       二
3  0BKK181211IT  2018/12/11     5       二
4  0BKK181225IT  2018/12/25     5       二

In [75]:
#yy = ("""SELECT * FROM date2;""")
#oldsql = pd.read_sql(sql=yy,con=connect)
#oldsql.head()

In [76]:
cursor = connect.cursor()
yy = ("""SELECT * FROM date2;""")
oldsql = pd.read_sql(sql=yy,con=connect)
print(len(oldsql['group_code']))
cursor.close()

463

In [77]:
def update_date2():
    cursor = connect.cursor()
    yy = ("""SELECT * FROM date2;""")
    oldsql = pd.read_sql(sql=yy,con=connect)
    oldid = list(oldsql['group_code'])
    time.sleep(5)
    #qaz = pd.read_excel('qaz.xlsx')
    if len(oldsql['group_code']) == 0:
        date2.to_sql(name='date2',con=engine,  if_exists = 'append', index=False)
    else:
        for newid in date2['group_code']:
            if newid not in oldid:
        #        print(newid)
                insert = str((date2.loc[newid,'group_code'],date2.loc[newid,'date'],date2.loc[newid,'days'],date2.loc[newid,'WeekDay']))
                print(insert)
                sql = (
                """   INSERT INTO test.qaz
                values """+insert+"""
                ;"""
                )
                cursor.execute(sql)
                connect.commit()
        for idx , ser in date2.iterrows():
            group_code = ser['group_code']
            date = ser['date']
            days = ser['days']
            WeekDay = ser['WeekDay']



            sql = (
            """   UPDATE tour.date2
            SET date = """+'"'+date+'"'+""",days = """+str(days)+""",WeekDay = """+'"'+WeekDay+'"'+"""
            WHERE group_code = """+ '"'+group_code+'"'+"""
            ;"""
            )
            cursor.execute(sql)
            connect.commit()
    cursor.close()

In [78]:
sale2.head()

     group_code  sell  qty  minprice
0  0BKK181030IT    20   20     11900
1  0BKK181113IT    20   20     11900
2  0BKK181127IT    20   20     11900
3  0BKK181211IT    20   20     11900
4  0BKK181225IT    20   20     11900

In [79]:
def update_sale2():
    cursor = connect.cursor()
    yy = ("""SELECT * FROM sale2;""")
    oldsql = pd.read_sql(sql=yy,con=connect)
    oldid = list(oldsql['group_code'])
    time.sleep(5)
    #qaz = pd.read_excel('qaz.xlsx')
    for newid in sale2['group_code']:
        if newid not in oldid:
    #        print(newid)
            insert = str((sale2.loc[newid,'group_code'],sale2.loc[newid,'sell'],sale2.loc[newid,'qty'],sale2.loc[newid,'minprice']))
            print(insert)
            sql = (
            """   INSERT INTO test.qaz
            values """+insert+"""
            ;"""
            )
            cursor.execute(sql)
            connect.commit()
    for idx , ser in sale2.iterrows():
        group_code = ser['group_code']
        sell = ser['sell']
        qty = ser['qty']
        minprice = ser['minprice']



        sql = (
        """   UPDATE tour.sale2
        SET sell = """+str(sell)+""",qty = """+str(qty)+""",minprice = """+str(minprice)+"""
        WHERE group_code = """+ '"'+group_code+'"'+"""
        ;"""
        )
        cursor.execute(sql)
        connect.commit()
    cursor.close()

In [80]:
base2.head()

,ID,title,group_code,SubCdAnm,SignUpLink,pic,agency_code
0,1,品味法拉利 南北義 龐貝 藍洞 OUTLET 10天,EW1080909QRA,團,報名,/eWeb_asiantour/IMGDB/000000/00005642.JPG,orange
1,2,浪漫愛琴海雙島：聖托里尼、米克諾斯、天空之城、諸神的故鄉、希臘10天之旅,ES1080909CAA,團,請電洽,/eweb_asiantour/images/default_demo.jpg,orange
2,3,Hello! 長榮荷德比法 3遊船 OUTLET 10天,EW1080901BRA,團,候補,/eweb_asiantour/images/default_demo.jpg,orange
3,4,親子水陸雙樂園5日,ICN180912KEB,團,報名,/eWeb_asiantour/IMGDB/000126/00003008.JPG,orange
4,5,哈韓94狂～超人氣三大主題5日,ICN180912KEA,團,報名,/eweb_asiantour/images/default_demo.jpg,orange

In [81]:
def update_base2():
    cursor = connect.cursor()
    yy = ("""SELECT * FROM base2;""")
    oldsql = pd.read_sql(sql=yy,con=connect)
    oldid = list(oldsql['group_code'])
    time.sleep(5)
    #qaz = pd.read_excel('qaz.xlsx')
    for newid in base2['group_code']:
        if newid not in oldid:
    #        print(newid)
            insert = str((base2.loc[newid,'title'],base2.loc[newid,'group_code'],base2.loc[newid,'SubCdAnm'],base2.loc[newid,'SignUpLink'],base2.loc[newid,'pic'],base2.loc[newid,'agency_code']))
            print(insert)
            sql = (
            """   INSERT INTO test.qaz
            values """+insert+"""
            ;"""
            )
            cursor.execute(sql)
            connect.commit()
    for idx , ser in base2.iterrows():
        title = ser['title']
        group_code = ser['group_code']
        SubCdAnm = ser['SubCdAnm']
        SignUpLink = ser['SignUpLink']
        pic = ser['pic']
        agency_code = ser['agency_code']


        sql = (
        """   UPDATE tour.base2
        SET title = """+'"'+title+'"'+""",SubCdAnm = """+'"'+SubCdAnm+'"'+""",SignUpLink = """+'"'+SignUpLink+'"'+""",pic = """+'"'+pic+'"'+""",agency_code = """+'"'+agency_code+'"'+"""
        WHERE group_code = """+ '"'+group_code+'"'+"""
        ;"""
        )
        cursor.execute(sql)
        connect.commit()
    cursor.close()

In [82]:
def update_date1():
    cursor = connect.cursor()
    yy = ("""SELECT * FROM date1;""")
    oldsql = pd.read_sql(sql=yy,con=connect)
    oldid = list(oldsql['group_code'])
    time.sleep(5)
    #qaz = pd.read_excel('qaz.xlsx')
    if len(oldsql['group_code']) == 0:
        date1.to_sql(name='date1',con=engine,  if_exists = 'append', index=False)
    else:
        for newid in date1['group_code']:
            if newid not in oldid:
        #        print(newid)
                insert = str((date1.loc[newid,'group_code'],date1.loc[newid,'date'],date1.loc[newid,'days'],date1.loc[newid,'WeekDay']))
                print(insert)
                sql = (
                """   INSERT INTO test.qaz
                values """+insert+"""
                ;"""
                )
                cursor.execute(sql)
                connect.commit()
        for idx , ser in date1.iterrows():
            group_code = ser['group_code']
            date = ser['date']
            days = ser['days']
            WeekDay = ser['WeekDay']



            sql = (
            """   UPDATE tour.date1
            SET date = """+'"'+date+'"'+""",days = """+str(days)+""",WeekDay = """+'"'+WeekDay+'"'+"""
            WHERE group_code = """+ '"'+group_code+'"'+"""
            ;"""
            )
            cursor.execute(sql)
            connect.commit()
    cursor.close()

In [83]:
def update_sale1():
    cursor = connect.cursor()
    yy = ("""SELECT * FROM sale1;""")
    oldsql = pd.read_sql(sql=yy,con=connect)
    oldid = list(oldsql['group_code'])
    time.sleep(5)
    #qaz = pd.read_excel('qaz.xlsx')
    for newid in sale1['group_code']:
        if newid not in oldid:
    #        print(newid)
            insert = str((sale1.loc[newid,'group_code'],sale1.loc[newid,'sell'],sale1.loc[newid,'qty'],sale1.loc[newid,'minprice']))
            print(insert)
            sql = (
            """   INSERT INTO test.qaz
            values """+insert+"""
            ;"""
            )
            cursor.execute(sql)
            connect.commit()
    for idx , ser in sale1.iterrows():
        group_code = ser['group_code']
        sell = ser['sell']
        qty = ser['qty']
        minprice = ser['minprice']



        sql = (
        """   UPDATE tour.sale1
        SET sell = """+str(sell)+""",qty = """+str(qty)+""",minprice = """+str(minprice)+"""
        WHERE group_code = """+ '"'+group_code+'"'+"""
        ;"""
        )
        cursor.execute(sql)
        connect.commit()
    cursor.close()

In [84]:
def update_base1():
    cursor = connect.cursor()
    yy = ("""SELECT * FROM base1;""")
    oldsql = pd.read_sql(sql=yy,con=connect)
    oldid = list(oldsql['group_code'])
    time.sleep(5)
    #qaz = pd.read_excel('qaz.xlsx')
    for newid in base1['group_code']:
        if newid not in oldid:
    #        print(newid)
            insert = str((base1.loc[newid,'title'],base1.loc[newid,'group_code'],base1.loc[newid,'SubCdAnm'],base1.loc[newid,'SignUpLink'],base1.loc[newid,'pic'],base1.loc[newid,'agency_code']))
            print(insert)
            sql = (
            """   INSERT INTO test.qaz
            values """+insert+"""
            ;"""
            )
            cursor.execute(sql)
            connect.commit()
    for idx , ser in base1.iterrows():
        title = ser['title']
        group_code = ser['group_code']
        SubCdAnm = ser['SubCdAnm']
        SignUpLink = ser['SignUpLink']
        pic = ser['pic']
        agency_code = ser['agency_code']


        sql = (
        """   UPDATE tour.base1
        SET title = """+'"'+title+'"'+""",SubCdAnm = """+'"'+SubCdAnm+'"'+""",SignUpLink = """+'"'+SignUpLink+'"'+""",pic = """+'"'+pic+'"'+""",agency_code = """+'"'+agency_code+'"'+"""
        WHERE group_code = """+ '"'+group_code+'"'+"""
        ;"""
        )
        cursor.execute(sql)
        connect.commit()
    cursor.close()

In [85]:
def update_all():
    update_date1()
    update_sale1()
    update_base1()
    update_date2()
    update_sale2()
    update_base2()

In [86]:
update_all()

KeyError: 'the label [SELA3ZE8921A] is not in the [index]'

In [ ]:
update_date2()

In [ ]:
update_date1()

In [ ]:
cursor.close()

In [91]:
#cursor = connect.cursor()
#sql = (
#"""    CREATE TABLE `tour`.`travel1` (

#  `group_code` VARCHAR(15) NOT NULL,
#  `day` VARCHAR(4)  NULL,
#  `travel` text NULL,
#  `breakfast` VARCHAR(30),
#  `lunch` VARCHAR(30),
#  `dinner` VARCHAR(30),
#  `sleep` VARCHAR(30),
#  `content` text,
#  PRIMARY KEY (`group_code`),
#  UNIQUE INDEX `group_code_UNIQUE` (`group_code` ASC) VISIBLE);"""
#)

#cursor.execute(sql)
#cursor.close()

In [93]:
#cursor = connect.cursor()
#sql = (
#"""    CREATE TABLE `tour`.`flight2` (

#  `group_code` VARCHAR(15) NOT NULL,
#  `day` INT  NULL,
#  `aircompany` VARCHAR(15),
#  `flight` VARCHAR(10),
#  `strating` VARCHAR(15),
#  `time0` VARCHAR(20),
#  `destination` VARCHAR(15),
#  `time1` VARCHAR(20),
#  PRIMARY KEY (`group_code`),
#  UNIQUE INDEX `group_code_UNIQUE` (`group_code` ASC) VISIBLE);"""
#)

#cursor.execute(sql)
#cursor.close()

In [95]:
#cursor = connect.cursor()
#sql = (
#"""    CREATE TABLE `tour`.`area1` (

#  `group_code` VARCHAR(15) NOT NULL,
#  `location` VARCHAR(15)  NULL,
#  `area` VARCHAR(15),

#  UNIQUE INDEX `group_code_UNIQUE` (`group_code` ASC) VISIBLE);"""
#)

#cursor.execute(sql)
#cursor.close()

In [52]:
travel2.to_sql(name='travel2',con=engine,  if_exists = 'append', index=False)

In [53]:
area2.to_sql(name='area2',con=engine,  if_exists = 'append', index=False)

In [58]:
flight2.to_sql(name='flight2',con=engine,  if_exists = 'append', index=False)

In [57]:
flight2.dtypes

day            object
aircompany     object
flight         object
starting       object
time0          object
destination    object
time1          object
group_code     object
dtype: object